/* Categories */
	.categories{ overflow: hidden; }
	/* Category Tabs */
	.categories .tab-item{ padding:0px 15px 80px; }
	/* Visible items options */
	.categories .tab-item .visible-item{ -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.categories .tab-item:hover .visible-item{ -webkit-transform: translateY(0%) !important; -moz-transform: translateY(0%) !important; -ms-transform: translateY(0%) !important; transform: translateY(0%) !important; }
	/* Hidden items options */
	.categories .tab-item .hidden-item{ opacity: 0; padding-top:10px; -webkit-transform: translateY(25px); -moz-transform: translateY(25px); -ms-transform: translateY(25px); transform: translateY(25px); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
	.categories .tab-item:hover .hidden-item{ opacity: 1; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); -ms-transform: translateY(0%); transform: translateY(0%); }

	/* Category Contents */
	.categories .category-boxes{ border-bottom: 1px solid #e7e7e7; background-color: #f7f7f7; }
	.categories .category-boxes .category-content{ padding:50px 5%; border-style: solid; position: relative; z-index: 1; background-color:white; border-color: #e7e7e7; border-left-width: 1px; border-top-width: 1px; display: block; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; }
		@media only screen and (max-width: 1100px){ .categories .category-boxes .category-content{ padding: 80px 3%; } }
	.categories .category-boxes .category-content:hover{ background-color:#fafafa; box-shadow: 1px 1px 1px #7f7f7f }
	.categories .category-boxes .category-content .content-title{ color:#505050; margin-top: 10px; font-weight: 600; letter-spacing: -0.7px; }
	.categories .category-boxes .category-content .content-desc{ font-size: 16px; line-height: 24px; margin-top: 10px; font-weight: 400; letter-spacing: 0; color:#898989; }
	
	.breadcrumb { padding:0px}
	
.page-scroll-indicator {
  width: 100%;
  height: 5px;
  background: white;
  position: fixed;
  z-index: 100;
  top: 0px;
}

.progress {
  width: 0%;
  height: 5px;
  background: #8ab661;
}

/* Page Styles */

	.content-loader{ position: fixed; z-index: 99999; width: 100%; height: 100%; left:-100%; -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.2, 1); -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.2, 1); transition: all 0.6s cubic-bezier(0.77, 0, 0.2, 1);}
	.content-loader.active{ left:0; }
	.content-loader.active.gone{ left:100%; -webkit-transition-delay: 0.8s; transition-delay: 0.8s; }
	/* Center Note Effect */
	.content-loader .center-note{ position: relative; opacity: 0; left:-3%; -webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s; -webkit-transition-delay: 0.8s; transition-delay: 0.8s; }
	.content-loader.active .center-note{ left:0; opacity: 1; }
	.content-loader.active.gone .center-note{ opacity: 0; -webkit-transition-delay: 0.6s; transition-delay:0.6s; }

/* Aligns */
	.left-side{ position: relative; height: auto; }
	.left-bg{ padding: 0; position: fixed; left:300px; right: 40%; right:calc( (100% - 300px) / 2); }
		@media only screen and ( max-width: 1450px ){ .left-bg{ left:230px; right: 43%; right:calc( (100% - 230px) / 2); } }
		@media only screen and ( max-width: 1120px ){ .left-bg{ left:0; right: 50%; } }
		@media only screen and ( max-width: 992px ){ .left-side, .left-bg{ right: 0; height: 600px !important; }}
		@media only screen and ( max-width: 769px ){ .left-side, .left-bg{ right: 0; height: 500px !important; }}
		@media only screen and ( max-width: 481px ){ .left-side, .left-bg{ right: 0; height: 410px !important; }}
	.right-side{ position: relative; padding: 0; }

/* First Load Page */
	.first-load{ cursor: pointer; position: relative; transition: background 0.9s 0.15s; }
	.first-load .first-load-container{ position: relative; }
	.first-load:hover{ background-color:#f8f8f8; }
/* First Load Texts */
	.first-load .first-load-container{ text-align: left; }
	.first-load .titles{ position: relative; width: 100%; left:10%; }
	.first-load .subtitle{ font-size:17px; color:#515460; letter-spacing: -1.5px; display: block; position: relative; width: auto; -webkit-transition: all 0.6s; -moz-transition: all 0.6s; transition: all 0.6s; }
	.first-load .big-title{ font-size:70px; letter-spacing: -3px; width: auto; line-height: 105px; color:#515460; position: relative; overflow: hidden; -webkit-transition: all 0.6s; -moz-transition: all 0.6s; transition: all 0.6s; }
	.first-load .home-play-button{ margin-left:25px; margin-top:17px; position: relative; top:0; left:0px; -webkit-transition: all 0.6s; -moz-transition: all 0.6s; transition: all 0.6s; }
	/* Hover effects */
/* 	.big-title--effect:before { content: attr(data-letters); position: absolute; z-index: 2; overflow: hidden; color: #186fc8;  width: 0%; transition: width 0.9s 0.15s; } */
	.first-load:hover .big-title--effect:before { width: 100%; }
	.first-load:active .big-title,.first-load:active .subtitle{ -ms-transform: scale(0.98); -webkit-transform: scale(0.98); transform: scale(0.98); }
	.first-load:active .home-play-button{ top:-5px; left:5px; -ms-transform: scale(0.95); -webkit-transform: scale(0.95); transform: scale(0.95); }

		@media only screen and ( max-width: 1380px ){
			.first-load .big-title{ font-size: 60px; line-height: normal; }
		}
		@media only screen and ( max-width: 991px ){
			.first-load .first-load-container{ text-align: center; padding:60px 0; }
			.first-load .titles{ width: 100%; left:0; padding:0 15px; }
			.first-load .big-title{ font-size: 60px; line-height: normal; }
			.big-title--effect:before { display: none; }
			.first-load .home-play-button{ margin-left:0; margin-top:7px; }
		}
		@media only screen and ( max-width: 641px ){
			.first-load .big-title{ font-size: 40px; line-height: normal; }
		}
		@media only screen and ( max-width: 361px ){
			.first-load .big-title{ font-size: 30px; line-height: normal; }
		}

.text-section {
	bottom: 30px;
    position: absolute;
    margin-left: 25px;
    width: 85%;
    z-index: 100;
}

.fullbrowserheight {
	height: calc(100vh);
}
.halfbrowserheight {
	height: calc(90vh);
}

.contents .content-box{ padding:70px 60px; display: table; table-layout: fixed; overflow: hidden; }
	.contents .content-box.litle-pd{ padding:95px 35px; }
	.contents .inner{ display: table-cell; vertical-align: middle; width: 100%; height: 100%; }
	.contents .content-box.no-pd{ padding:0; }
		@media only screen and (max-width: 1281px){
			.contents .content-box{ padding:70px 40px; }
			.contents .content-box.litle-pd{ padding:70px 25px; }
		}
		@media only screen and (max-width: 992px){ .contents .content-box{ padding:0 15px; height: auto !important; min-height: 450px; } }
		@media only screen and (max-width: 769px){ .contents .content-box{ width: 100%; padding:25px; } }
	/* Inner Slider */
	.contents .content-box .custom-slider img{ width: auto; height: auto; min-width: 100%; min-height: 100%; position: relative; left:50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); }
	
	ul.list-style-disc li::before {
	  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
	  color: #8ab661; /* Change the color */
	  font-weight: bold; /* If you want it to be bold */
	  display: inline-block; /* Needed to add space between the bullet and the text */ 
	  width: 1em; /* Also needed for space (tweak if needed) */
	  margin-left: -1em; /* Also needed for space (tweak if needed) */
	  left: 1em;
	}
	ul.list-style-disc {
		margin-left: 2em;
	}
	
	
	.form-group {
	    margin-bottom: 0rem;
	}

#categories { position: relative; background-color:#76766c; }
	#categories .cbp-l-caption-alignLeft{ width: 100%; height: 100%; display: table; }
	#categories .cbp-caption-zoom .cbp-caption-activeWrap{ background: transparent; opacity: 1; }
	#categories .cbp-caption-defaultWrap{ -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }
	#categories .cbp-item:hover .cbp-caption-defaultWrap{ transform: scale(1.05); }
	#categories .cbp-caption-defaultWrap img{ opacity: 0.2; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; }
	#categories .cbp-item:hover .cbp-caption-defaultWrap img{ opacity: 1; }
	#categories .cbp-l-caption-alignLeft .cbp-l-caption-body{ display: table-cell; vertical-align: middle; text-align: center; color: white; position: relative; top:0; text-shadow:2px 2px 2px rgba(0,0,0,0.1); }
	#categories h2.title{ color:white; font-size:23px; padding:0; margin:0; position: relative; }
	#categories p.desc{ font-size:15px; margin:0; color:#e8e8e8; font-weight: 500; position: relative; }
	#categories .cbp-item:hover .cbp-l-caption-alignLeft .cbp-l-caption-body h2{ opacity: 0; margin-left:50px; }
	#categories .cbp-item:hover .cbp-l-caption-alignLeft .cbp-l-caption-body p{ opacity: 0; margin-left:-50px; }

/* ETNA WORKS */
	#works .cbp-caption-activeWrap{ background-color:#212121; }
	#works .cbp-caption-activeWrap h2{ color:#b2b2b2; font-size:22px; margin:0; padding:0; margin-bottom:7px; }
	#works .cbp-caption-activeWrap p{ font-size:16px; margin:0; padding:0; }
	#works .cbp-item:hover .cbp-caption-defaultWrap{ transform: scale(1.0);}
	/* filters */
	#works #filters.cbp-l-filters-text .cbp-filter-item{font-family:inherit !important; font-size:17px; font-weight: 400; margin-top:50px;}
	

@media only screen and (max-width: 768px){
	#navigation.modern.white-nav .columns .hamburger-menu div {
    background-color: black;
	}
	#navigation.modern.white-nav .columns a {
		color: black;
	}
}

@media only screen and (max-width: 480px){
	#navigation.modern.white-nav .columns .hamburger-menu div {
    background-color: black;
	}
}