<section class="bg-gray2">  
	<div class="container py t-left bg-gray2">
	    <div class="qdr-col-3 row clearfix t-left">
		    {% for category in craft.categories.group('magazineSection').level(1) %}
	        <div>
	            <h6 class="uppercase notosans bold xxs-mb colored">{{ category.title }}</h6>
	            <ol>
		            {% for entry in craft.entries.section('magazine').relatedTo(category).limit(4) %}
	                <li class="lh-sm xxs-mb colored-hover">{{ entry.link}}</li>
	                {% endfor %}
	                <li class="lh-sm xxs-mb italic colored-hover"><a href="{{ category.url }}">View All</a></li>
	            </ol>
	        </div>
	        {% endfor %}
	    </div>
	</div>
</section>

    {% include "structure/generalFooter.html" %}
		
</section>
