<footer id="footer" class="bg-gray10 bottom-0 fullwidth white">
        <!-- Container -->
        <div class="footer-body container py ">
            <div class="row clearfix">
                <div class="col-sm-12 col-center col-xs-12 height-auto-mobile t-center t-center-xs sm-mb-mobile">
                    <div class="t-center xs-mt">
	                   <!-- Button -->
	                   <a href="https://www.facebook.com/FrogDogStrategy/" class="mini-mx" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="https://www.linkedin.com/company/frogdog/" class="mini-mx" target="_blank"><i class="fa fa-linkedin"></i></a>
				<a href="https://twitter.com/frogdog" class="mini-mx" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="https://www.youtube.com/user/FrogDogMarketing" class="mini-mx" target="_blank"><i class="fa fa-youtube"></i></a>
				<a href="https://www.instagram.com/frogdog_strategy/?hl=en" class="mini-mx" target="_blank"><i class="fa fa-instagram"></i></a>
	               </div>
	               <div class="t-center xs-mt">
	                    <a href="{{ siteUrl }}" class="colored1-hover white-hover">Home</a>
	                    /
	                    <a href="{{ siteUrl }}services" class="colored1-hover white-hover">Services</a>
	                    /
	                    <a href="{{ siteUrl }}work" class="colored1-hover white-hover">Work</a>
	                    /
	                    <a href="{{ siteUrl }}news" class="colored1-hover white-hover">News</a>
	                    /
	                    <a href="{{ siteUrl }}white-papers" class="colored1-hover white-hover">White Papers</a>
	                    /
	                    <a href="{{ siteUrl }}magazine" class="colored1-hover white-hover">Magazine</a>
	                    /
	                    <a href="{{ siteUrl }}careers" class="colored1-hover white-hover">Careers</a>
	                    /
	                    <a href="{{ siteUrl }}videos" class="colored1-hover white-hover">Videos</a>
	                    /
	                    <a href="{{ siteUrl }}contact" class="colored1-hover white-hover">Contact</a>
	               </div>
                </div>
                
            </div>
        </div>
        <div class="footer-bottom font-10 notosans mini-pb">
	        <div class="container">
	            <div class="row clearfix">
	                <div class="col-md-6 col-xs-12 table-im t-center-xs">
	                    <a href="{{ siteUrl }}sitemap" class="gray6-hover underline-hover">Sitemap</a>
	                    |
	                    {% for entry in craft.entries.section('legal')%}
	                    <a href="{{ entry.url }}" class="gray6-hover underline-hover">Privacy Policy</a>
	                    {% if loop.last %}
	                    {% else %}
	                    |
	                    {% endif %}
	                    {% endfor %}
	                </div>
	                <!-- Bottom Note -->
	                <div class="col-md-6 col-xs-12 table-im t-right t-center-xs">
	                    <p class="v-middle">
	                        © {{ now|date('Y') }} FrogDog, LLC.
	                    </p>
	                </div>
	            </div>
	        </div>
	    </div>
    </footer>