{% include 'structure/header-side-menu.html' %}
<section id="all" class="pusher">
	<nav id="navigation" class="white-nav shrink {% if entry is defined %}{% if craft.request.getUrl() == siteUrl %}{% if craft.request.isMobileBrowser() %}start-dark{% else %}light  {% endif %}{% else %}start-dark {% endif %}{% else %}start-dark  {% endif %}jump modern hide-by-scroll hover4 notosans" data-offset="55">
	    <!-- Columns -->
	    <div class="columns clearfix container">
	        <!-- Logo -->
	        <div class="logo">
	            <a href="{{ siteUrl }}">
	                {% for asset in company.logo.all() %}
	                <img src="{{ asset.url }}" data-second-logo="{{ asset.url }}" alt="{{ siteName }}">
	                {% endfor %}
	            </a>
	        </div>
	        <!-- Right Elements; Nav Button, Language Button, Search .etc -->
	        <div class="nav-elements">
	            <ul class="clearfix nav no-ls normal">
	                <!-- Search Button -->
	                <li>
	                    <div class="hamburger-menu sidebar-button">
	                        <div class="top-bun"></div>
	                        <div class="meat"></div>
	                        <div class="bottom-bun"></div>
	                    </div>
	                </li>
	            </ul>
	        </div>
	        <!-- End Navigation Elements -->
	        <!-- Navigation Menu -->
	        
	        <div class="nav-menu">
	            <ul class="nav clearfix uppercase">
		            <li class="dropdown-toggle"><a href="{{ siteUrl }}services" class="nav-link">Services</a>
		            	<ul class="dropdown-menu to-right">
		            		{% for entry in craft.entries.section('services').all() %}
		                	<li>{{ entry.link }}</li>
		                	{% endfor %}
		                    <li><hr class="black"></li>
		                    <li><a href="{{ siteUrl }}request-a-consultation">Request a Consultation</a></li>
		                </ul>
		            </li>
		            <li><a href="{{siteUrl }}work">Work</a></li>
	                <li><a href="{{siteUrl }}magazine">Magazine</a></li>
	                <li><a href="{{ siteUrl }}how-we-work" class="colored-hover slow hidden-xl hidden-lg hidden-md">How We Work</a></li>
	                <li><a href="{{ siteUrl }}testimonials" class="colored-hover slow hidden-xl hidden-lg hidden-md">Testimonials</a></li>
		            <li><a href="{{ siteUrl }}white-papers" class="colored-hover slow hidden-xl hidden-lg hidden-md">White Papers</a></li>
		            <li><a href="{{ siteUrl }}news" class="colored-hover slow hidden-xl hidden-lg hidden-md">News</a></li>
		            <li><a href="{{ siteUrl }}videos" class="colored-hover slow hidden-xl hidden-lg hidden-md">Videos</a></li>
		            <li><a href="{{ siteUrl }}careers" class="colored-hover slow hidden-xl hidden-lg hidden-md">Careers</a></li>
	                <li><a href="{{siteUrl }}contact">Contact</a></li>
	            </ul>
	        </div>
	    </div>
	    {% if entry is defined %}
	    {% if entry.id == 4452 %}
	    <div id="extranav" data-showme="#content" data-hideme="#footer" class="clearfix font-13 white bold bg-colored">
            <div class="container-lg clearfix">
                <!-- Left Text -->
                <div class="f-left">
                   Services
                </div>
                <!-- Nav menu -->
                <div class="nav-menu f-right w-auto t-right">
                    <ul class="nav clearfix">
	                    {% for entry in craft.entries.section('services') %}
                        <li>{{ entry.link }}</li>
                        {% endfor %}
                        <li><a href="{{ siteUrl }}request-a-consultation">Request A Consultation</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        {% if entry.section.handle == 'services' %}
	    <div id="extranav" data-showme="#content" data-hideme="#footer" class="clearfix font-13 white bold bg-colored">
            <div class="container-lg clearfix">
                <!-- Left Text -->
                <div class="f-left uppercase">
                   <a href="{{ siteUrl }}services" class="underline-hover slow">Services</a>&nbsp;&nbsp;/&nbsp;&nbsp;<span  class="gray3">{{ entry.title }}</span>
                </div>
                <!-- Nav menu -->
                <div class="nav-menu f-right w-auto t-right">
                    <ul class="nav clearfix">
                        <li><a href="{{ siteUrl }}testimonials">Testimonials</a></li>
                        <li><a href="{{ siteUrl }}work">Case Studies</a></li>
                        <li><a href="{{ siteUrl }}request-a-consultation" class="large-btn bg-colored1 white bg-gray8-hover nav-link">Request A Consultation</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
	</nav> 
