<div id="sidebar" class="ui right sidebar vertical overlay menu styled bg-gray8" >
    <div class="sidebar-container">
        <h3 class=" uppercase xs-mt colored">FrogDog</h3>
        <h4 class="subtitle uppercase">Quick links</h4>
       <ul class="italic font-13">
            <li><a href="{{ siteUrl }}" class="colored-hover slow">Home</a></li>
            <li><a href="{{ siteUrl }}services" class="colored-hover slow">Services</a></li>
            <li><a href="{{ siteUrl }}white-papers" class="colored-hover slow">White Papers</a></li>
            <li><a href="{{ siteUrl }}work" class="colored-hover slow">Case Studies</a></li>
            <li><a href="{{ siteUrl }}magazine" class="colored-hover slow">Magazine</a></li>
            <li><a href="{{ siteUrl }}news" class="colored-hover slow">News</a></li>
            <li><a href="{{ siteUrl }}careers" class="colored-hover slow">Careers</a></li>
            <li><a href="{{ siteUrl }}contact" class="colored-hover slow">Contact</a></li>
        </ul>
        <div><a href="{{ siteUrl }}request-a-consultation" class="w-100 t-center lg-btn bg-colored white qdr-hover-4">Request a Consultation</a></div>
		<div><a href="{{ siteUrl }}subscribe" class="w-100 t-center lg-btn xxs-mt bg-colored white qdr-hover-4">Subscribe to our Newsletter</a></div>
    </div>
</div>
<!-- END SIDEBAR -->
<section id="all" class="pusher">
	
	<!-- PAGETOP -->
    <div id="pagetop" class="dark bg-gray9">
        <div class="container-xl">
            <!-- Left texts -->
            <div class="left font-12">
                <a href="{{ siteUrl }}" class="colored-hover notosans uppercase font-10"><span class="fa fa-long-arrow-left"></span> Return to the FrogDog Website</a>
            </div>
            <!-- Right, socials -->
            <div class="right clearfix">
                <a href="https://www.facebook.com/FrogDogStrategy/" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://www.linkedin.com/company/frogdog/" target="_blank"><i class="fa fa-linkedin"></i></a>
					<a href="https://twitter.com/frogdog" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="https://www.youtube.com/user/FrogDogMarketing" target="_blank"><i class="fa fa-youtube"></i></a>
					<a href="https://www.instagram.com/frogdog_strategy/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <!--END PAGETOP -->

   <nav id="navigation" class="white-nav shrink start-dark jump modern hide-by-scroll hover4 notosans" data-offset="55" style="background-color: white">    <!-- Columns -->
    <div class="columns clearfix container-lg">
        <!-- Logo -->
        <div class="logo" id="magazine">
            <a href="{{ siteUrl }}magazine">
                {% for asset in company.magazineLogo.all() %}
                <img src="{{ asset.url }}" data-second-logo="{{ asset.url }}" alt="{{ siteName }}" height="70px">
                {% endfor %}
            </a>
        </div>
        <!-- Right Elements; Nav Button, Language Button, Search .etc -->
        <div class="nav-elements">
            <ul class="clearfix nav no-ls normal">
                <!-- Search Button -->
                <li>
                    <div class="hamburger-menu sidebar-button">
                        <div class="top-bun"></div>
                        <div class="meat"></div>
                        <div class="bottom-bun"></div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- End Navigation Elements -->
        <!-- Navigation Menu -->
        <div class="nav-menu">
            <ul class="nav clearfix uppercase">
	            {% for category in craft.categories.group('magazineSection').level(1).all() %}
                <li>{{ category.link }}</li>
                {% endfor %}
                <li><a href="{{ siteUrl }}magazine/section" class="italic">All</a></li>
            </ul>
        </div>
        
    </div>
    
    
</nav> 
                            
                            
  