<div id="sidebar" class="ui right sidebar vertical overlay menu styled bg-gray8" >
    <div class="sidebar-container">
        <h3 class=" uppercase xs-mt colored">FrogDog</h3>
        <h4 class="subtitle uppercase">Quick links</h4>
       <ul class="italic font-13">
            <li><a href="{{ siteUrl }}" class="colored-hover slow">Home</a></li>
            <li><a href="{{ siteUrl }}services" class="colored-hover slow">Services</a></li>
            <li><a href="{{ siteUrl }}how-we-work" class="colored-hover slow">How We Work</a></li>
            <li><a href="{{ siteUrl }}testimonials" class="colored-hover slow">Testimonials</a></li>
            <li><a href="{{ siteUrl }}white-papers" class="colored-hover slow">White Papers</a></li>
            <li><a href="{{ siteUrl }}work" class="colored-hover slow">Work</a></li>
            <li><a href="{{ siteUrl }}magazine" class="colored-hover slow">Magazine</a></li>
            <li><a href="{{ siteUrl }}news" class="colored-hover slow">News</a></li>
            <li><a href="{{ siteUrl }}videos" class="colored-hover slow">Videos</a></li>
            <li><a href="{{ siteUrl }}careers" class="colored-hover slow">Careers</a></li>
            <li><a href="{{ siteUrl }}contact" class="colored-hover slow">Contact</a></li>
        </ul>
        <div><a href="{{ siteUrl }}request-a-consultation" class="w-100 t-center lg-btn bg-colored white qdr-hover-4">Request a Consultation</a></div>
		<div><a href="{{ siteUrl }}subscribe" class="w-100 t-center lg-btn xxs-mt bg-colored white qdr-hover-4">Subscribe to our Newsletter</a></div>
    </div>
</div>
