{% extends "includes/site.html" %}
{% block main %}
<link rel="stylesheet" href="{{ siteUrl }}assets/css/components/plyr.css" />
{% set image = craft.assets.id(8958).one() %}
<section id="home" class="no-repeat bg-norepeat bg-right bg-bottom animated slow" data-animation="fadeInRight" data-animation-delay="200" data-background="{{ image.getUrl() }}">
    <div class="lg-pt md-pt-mobile xxs-pb">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="home-title colored lh-sm text-lg">{{ entry.title }}</h1>
                    <ol vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumb notosans gray7 xs-mt">
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}">
					      <span property="name">Homepage</span></a>
					    <meta property="position" content="1">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}videos">
					      <span property="name">Videos</span></a>
					    <meta property="position" content="2">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="gray4">
					    <a property="item" typeof="WebPage"
					        href="{{ entry.url}}">
					      <span property="name">{{ entry.title }}</span></a>
					    <meta property="position" content="3">
					  </li>
					</ol>
  
                </div>
            </div>
        </div>
    </div>
</section>




<section class="bg-gray2">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8 py">
				{% for asset in entry.featuredImage %}
		        <img src="{{ asset.getUrl('featuredImage') }}" class="w-100 sm-mb">
		        {% endfor %}
			    
		
				{{ entry.textArea| replace('<p>', '<p class="gray8 notosans font-15 lh-md xs-mb" data-wow-duration="1s">')| replace('<a', '<a class="colored1 underline-hover"')| replace('<ul>', '<ul class="notosans t-left xs-mb list-style-disc" data-wow-duration="1s">') | replace('<li>', '<li class="gray8 font-15">') | replace('<h3>', '<h3 class="xs-mb bold">')  | raw }}
				<div class="container">
		            <div id="youtube-video">
		                <div class="js-player" data-type="youtube" data-video-id="0nx9T9WV0gM" ></div>    
		            </div>
		        </div>	
				
			</div>
		</div>
	</div>
</section>

{# Set parameters for prev/next elements list #}
{% set params = craft.entries.section('videos').order('postDate asc') %}

{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}


<section id="about" class="boxes-with-image calculate-height clearfix bg-gradient">
    <!-- Row for cols -->
    <div class="row no-mx">
		
        {% if prevEntry %}
        <a href="{{ prevEntry.url }}" class="box col-lg-6 col-6 qdr-hover-1-bottom click-effect" >
            <!-- Overlay - Parent element should have .relative class -->
            <div class="overlay zi--4 bg-gradient"></div>
            <!-- Texts -->
            <div class="texts">
                <p class="gray2 notosans bold uppercase font-10 pt">Previous Video</p>
                <h4 class="white">{{ prevEntry.title }}</h4>
                
            </div>
        </a>
        {% endif %}
        {% if nextEntry %}
        <a href="{{ nextEntry.url }}" class="box col-lg-6 col-6 qdr-hover-1-bottom click-effect t-right" >
            <!-- Overlay - Parent element should have .relative class -->
            <div class="overlay zi--4 bg-gradient"></div>
            <!-- Texts -->
            <div class="texts">
                <p class="gray2 notosans bold uppercase font-10 pt">Next Video</p>
                <h4 class="white">{{ nextEntry.title }}</h4>
            </div>
        </a>
        {% endif %}
    </div>
</section>         


                            
{% js %}
	(function() { 
      // This is the bare minimum JavaScript. You can opt to pass no arguments to setup.
      // e.g. just plyr.setup(); and leave it at that if you have no need for events
      var instances = plyr.setup({
        // Output to console
        debug: false
      });

      // Get an element
      function get(selector) {
        return document.querySelector(selector);
      }

      // Loop through each instance
      instances.forEach(function(instance) {
        // Play
        $('.js-play').on('click', function() { 
          instance.play();
        });
        
        // Pause
        $('.js-pause').on('click', function() { 
          instance.pause();
        });
        
        // Stop
        $('.js-stop').on('click', function() { 
          instance.stop();
        });
        
        // Rewind
        $('.js-rewind').on('click', function() { 
          instance.rewind();
        });
        
        // Forward
        $('.js-forward').on('click', function() { 
          instance.forward();
        });
      });
    })();
{% endjs %}
<script type="text/javascript" src="{{ siteUrl }}assets/js/components/plyr.js"></script>

{% endblock %}