{% extends "includes/site-forms.html" %}
{% block main %}

<!-- HOME -->
<section id="home" class="clearfix">

    <div class="row no-mx">

       {% set images = craft.assets.id(8095) %}
		{% for image in images%}
        <div class="col-md-6 col-12 height-full hidden-xs hidden-sm lg-py-mobile bg-cover bg-left bg-bottom" data-background="{{ image.url }}"></div>
        <div class="col-md-6 col-12 hidden-md hidden-lg hidden-xl md-py-mobile bg-cover bg-left bg-bottom" data-background="{{ image.url }}"></div>
        {% endfor %}

        <!-- Container -->
        <div class="col-md-6 col-12 height-full o-scroll  height-auto-mobile clearfix sm-py bs-md ">
            <div class="sm-pl no-pl-mobile col-md-9 col-sm-12">
	            <button onclick="goBack()" class="italic">— Return to Previous Page</button>
                <h1 class="home-title colored text-lg xxs-mb lh-sm">{{ entry.title }} </h1>
               {{ entry.textArea| replace('<p>', '<p class="gray8 notosans font-15 lh-md xs-mb" data-wow-duration="1s">')| replace('<a', '<a class="colored1 underline-hover"')| replace('<ul>', '<ul class="notosans t-left xs-mb list-style-disc" data-wow-duration="1s">') | replace('<li>', '<li class="gray8 font-15 xxs-mb">') | replace('<h3>', '<h3 class="xs-mb lh-sm">') | raw }}			
				{% if entry.forms is defined and entry.forms is not empty %}

				{{ entry.forms.render({
				    labelClass: "form-label",
				    inputClass: "classic_form  no-radius bg-gray2",
				    instructionsBelowField: true,
				    submitClass: "xs-my no-radius bg-colored white",
				}) }}
				{% endif %}
				
				{{ entry.formCode|raw }}
            </div>
        </div>
        <!-- End Container -->

    </div>

</section>
<!-- END CONTENT -->
    
{% js %}
function goBack() {
  window.history.back();
}
{% endjs %}    
{% endblock %}