{% extends "includes/site.html" %}
{% block main %}

<!-- BODY START -->

    
{% set image = craft.assets.id(8958).one() %}
<section id="home" class="no-repeat bg-norepeat bg-bottomRight animated slow" data-animation="fadeInRight" data-animation-delay="200" data-background="{{ image.getUrl() }}">
    <div class="lg-pt md-pt-mobile xxs-pb">
        
        <!-- Container for title and button -->
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-7 col-9">
	                
                    <h1 class="home-title colored text-lg lh-sm">{{ entry.mainHeadline|raw }} </h1>
                    
                    {% for block in entry.subHeading %}
                    <br>
                    {% if block.type == "rotatingText" %}
                    <h5 class="notosans uppercase bold gray6">{{ block.staticText }} 
                    <span class="text-rotator gray9" data-animation="fadeIn">{% for row in block.rotatingText %}{{ row.col1 }},{% endfor %} </span></h5>
                    {% elseif block.type == "staticHeading" %}
                    <h5 class="notosans uppercase bold gray6">{{ block.heading }}</h5>
                    {% endif %}
                    {% endfor %}
                    <ol vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumb notosans gray7 xs-mt">
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}">
					      <span property="name">Homepage</span></a>
					    <meta property="position" content="1">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}services">
					      <span property="name">Services</span></a>
					    <meta property="position" content="2">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="gray4">
					    <a property="item" typeof="WebPage"
					        href="{{ entry.url}}">
					      <span property="name">{{ entry.title }}</span></a>
					    <meta property="position" content="3">
					  </li>
					</ol>
                </div>
                
            </div>
        </div>
        <!-- Container to details -->
    </div>
    
</section>
<section class="bg-gray9 py" id="content">
    <div class="container">
	    <div class="row">
		    {% for block in entry.features.type('feature') %}
		    {% if loop.length == 3 %}
		    <div class="col-md-4">
		    <h4 class="uppercase colored1 notosans font-14 xxs-mb bold">{{ block.heading }}</h4>
		    <p class="white  xs-mb-mobile">{{ block.textArea }}</p>
		    </div>
		    {% else %}
		    <div class="col-md-3">
		    <h4 class="uppercase colored1 notosans font-14 xxs-mb bold">{{ block.heading }}</h4>
		    <p class="white  xs-mb-mobile">{{ block.textArea }}</p>
		    </div>
		    {% endif %}
		    {% endfor %}
	    </div>
    </div>
</section>

{% for block in entry.contentBlocks %}
{% switch block.type %}
{% case "textImageArea" %}
{%  if loop.index is odd %}

<section class="mt" id="features">
    <div class="container">
	    <div class="row">
		    <div class="col-md-6 t-center order-md-2 xs-pb-mobile">
			    {% for asset in block.featuredImage %}
			    <img src="{{ asset.url }}" width="80%">
			    {% endfor %}
		    </div>
		    <div class="col-md-6 order-1">
				{% if block.preHeading|length %}
				<h5 class="uppercase gray7 notosans bold">{{ block.preHeading }}</h5>
				{% endif %}
			    <h3 class="bold xxs-mb gray9">{{ block.heading }}</h3>
			    {% if block.textArea|length %}
			    <p class=" gray7 notosans">{{ block.textArea }}</p>
			    {% endif %}
			    <table class="table table-noborder italic table-sm">
	                <tbody>
		                {% for row in block.lists %}
	                    <tr class="gray7">
		                    {% if row.col1|length %}
	                        <td id="bullets">{{ row.col1 }}</td>
	                        {% endif %}
	                        {% if row.col2|length %}
	                        <td id="bullets">{{ row.col2 }}</td>
							{% endif %}
	                    </tr>
	                    {% endfor %}
	                </tbody>
			    </table>
			    <div><a {{ block.button.getLinkAttributes() }} class="lg-btn bg-gray9 white qdr-hover-4">{{ block.button.getText() }}</a></div>
		    </div>
		    
	    </div>
    </div>
</section>
{% else %} 
<section class="mt">
    <div class="container">
	    <div class="row">
		    <div class="col-md-6 t-center xs-pb-mobile">
			    {% for asset in block.featuredImage %}
			    <img src="{{ asset.url }}" width="80%">
			    {% endfor %}
		    </div>
		    <div class="col-md-6">
				{% if block.preHeading|length %}
				<h5 class="uppercase gray7 notosans bold">{{ block.preHeading }}</h5>
				{% endif %}
			    <h3 class="bold xxs-mb gray9">{{ block.heading }}</h3>
			    {% if block.textArea|length %}
			    <p class=" gray7 notosans">{{ block.textArea }}</p>
			    {% endif %}
			    <table class="table table-noborder italic table-sm">
	                <tbody>
		                {% for row in block.lists %}
	                    <tr class="gray7">
		                    {% if row.col1|length %}
	                        <td id="bullets">{{ row.col1 }}</td>
	                        {% endif %}
	                        {% if row.col2|length %}
	                        <td id="bullets">{{ row.col2 }}</td>
							{% endif %}
	                    </tr>
	                    {% endfor %}
	                </tbody>
			    </table>
				<div><a {{ block.button.getLinkAttributes() }} class="lg-btn bg-gray9 white qdr-hover-4">{{ block.button.getText() }}</a></div>	    
		    </div>
	    </div>
    </div>
</section> 
{% endif %}
{% case "featuredTextArea" %}
<section class="py bg-colored mt">
    <div class="container">
	    <div class="row">
		    <div class="col-md-6">
			    <h3 class="white text-lg">{{ block.heading }}</h3></div>
		    <div class="col-md-6">
			    <ul class="white italic ">
			    {% for row in block.listItem %}
			    <li class="font-18 xs-mb">{{ row.col1 }}</li>
			    {% endfor %}
			    </ul>
		    </div>
	    </div>
    </div>
</section>


{% case "featuredCaseStudy" %}
 <!-- Container -->
<div id="target-note" class="parallax-container md-py mt">
    <!-- Background image with horizontal parallax -->
    <a {{ block.caseStudyLink.getLinkAttributes() }}>
    <div class="bg-parallax horizontal-parallax skrollr bg-soft bg-soft-gradient t-center " style="width:120%; width:calc(100% + 250px);" data-anchor-target="#target-note" data-bottom-top="transform:translate3d(-250px, 0px, 0px);" data-top-bottom="transform:translate3d(0px, 0px, 0px);" {% for asset in block.featuredImage %}data-background="{{ asset.url }}" {% endfor %}></div>
    <div class="container">
        <h5 class="uppercase white t-center notosans bold">CASE STUDY</h5>

        <h3 class="white t-center light text-lg">
            {{ block.heading }}
        </h3>
        <!-- Description -->
        <div class="t-center xs-mt"><a {{ block.caseStudyLink.getLinkAttributes() }} class="italic bold t-center white qdr-hover-4">{{ block.caseStudyLink.getText() }}</a></div>           
    </div>
    </a>
</div>
<!-- End Container -->
    
    {% endswitch %}
    {% endfor %}
    <section class="py bg-gradient mt">
    <div class="container">
	    <div class="row xs-mb">
	    	<h3 class="white">{{ entry.title }} Case Studies</h3>
	    </div>
	    <div class="row">
		    
		    {% for caseStudy in craft.entries.section('work').relatedTo(entry) %}
		    <div class="col-md-3 xxs-mb">
			    <a href="{{ caseStudy.url }}">
			    {% for asset in caseStudy.featuredImage %}
			    <img src="{{ asset.getUrl('square') }}" width="100%" class="qdr-hover-4 sm-mt-mobile">
			    {% endfor %}
			    <p class="white font-14 dark-hover notosans bold uppercase xxs-mt">{{ caseStudy.title }}</p>
			    <p class="italic font-14 white dark-hover xxs-mt  xs-mb"> — Read Full Case Study</p>
			    </a>
			</div>
		    {% endfor %}
	    </div>
    </div>
</section>
    
{% endblock %}
