{% extends "includes/site.html" %}
{% block main %}

<!-- BODY START -->
{% set image = craft.assets.id(8958).one() %}
<section id="home" class="no-repeat bg-norepeat bg-bottomRight animated slow" data-animation="fadeInRight" data-animation-delay="200" data-background="{{ image.getUrl() }}">
    <div class="xl-pt md-pt-mobile xs-pb">
        <!-- Container for title and button -->
        <div class="container clearfix calculate-height">
            <div class="row">
                <div class="col-md-7 col-6">
                    <h1 class="home-title colored text-lg">Services </h1>
                    <ol vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumb notosans gray7 xs-mt">
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}">
					      <span property="name">Homepage</span></a>
					    <meta property="position" content="1">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="gray4">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}services">
					      <span property="name">Services</span></a>
					    <meta property="position" content="2">
					  </li>
					</ol>
                </div>
            </div>
        </div>
        <!-- Container to details -->
    </div>
</section>

<section class="py bg-gray2" id="content">
    <div class="container">
	    
	    <div class="row">
		    {% for entry in craft.entries.section('services').all() %}
		    <div class="col-md-4 animated" data-animation="fadeInUp" data-animation-delay="{{ loop.index * 200 }}">
			    <div class="t-center xs-mt-mobile">
				    <a href="{{ entry.url }}">
					{% for asset in entry.featuredImage.all() %}
				    <img src="{{ asset.url }}" height="200px" class="center sm-mb qdr-hover-4">
				    {% endfor %}
				    </a>
			    </div>
				<h6 class="uppercase gray7 notosans bold">{{ entry.title }}</h6>
				<a href="{{ entry.url }}"> 
				<p class="font-16 xxs-my gray9 colored-hover">{{ entry.introText }}</p>
				</a>
			    <a href="{{ entry.url }}" class="colored italic xxs-mt underline-hover">— Learn More </a>
		    </div>
		    {% endfor %}
	    </div>
	    
    </div>
</section>

    
{% endblock %}
