{% extends "includes/site.html" %}
{% block main %}

{% set image = craft.assets.id(8958).one() %}
<section id="home" class="no-repeat bg-norepeat bg-right bg-bottom animated slow" data-animation="fadeInRight" data-animation-delay="200" data-background="{{ image.getUrl() }}">
    <div class="lg-pt md-pt-mobile xxs-pb">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="home-title colored text-lg">{{ entry.title }} </h1>
                    <ol vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumb notosans gray7 xs-mt">
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}">
					      <span property="name">Homepage</span></a>
					    <meta property="position" content="1">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="gray4">
					    <a property="item" typeof="WebPage"
					        href="{{ entry.url}}">
					      <span property="name">{{ entry.title }}</span></a>
					    <meta property="position" content="2">
					  </li>
					</ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray2">
	<div class="container py">
		<div class="row">
			
			<div class="col-md-8">
				{{ entry.textArea| replace('<p>', '<p class="gray8 notosans font-15 lh-md xs-mb" data-wow-duration="1s">')| replace('<a', '<a class="colored1 underline-hover"')| replace('<ul>', '<ul class="notosans t-left  xs-mb list-style-disc" data-wow-duration="1s">') | replace('<li>', '<li class="gray8 font-15 xxs-mb">') | replace('<h3>', '<h3 class="xs-mb bold">') | raw }}			
			</div>
			<div class="col-md-4">
				
				<p class="italic colored">Call Us</p>
				<p class="xs-mb notosans gray9"><a href="tel:7138622505">713-862-2505</a></p>
				<p class="italic colored">Request a Consultation</p>
				<p class="xs-mb notosans gray9"><a href="{{ siteUrl }}request-a-consultation">Click Here</a></p>
				<p class="italic colored">Connect with Us</p>
				<p class="xs-mb notosans gray9">
					<a href="https://www.facebook.com/FrogDogStrategy/" class="mini-mx colored-hover" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://www.linkedin.com/company/frogdog/" class="mini-mx colored-hover" target="_blank"><i class="fa fa-linkedin"></i></a>
					<a href="https://twitter.com/frogdog" class="mini-mx colored-hover" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="https://www.youtube.com/user/FrogDogMarketing" class="mini-mx colored-hover" target="_blank"><i class="fa fa-youtube"></i></a>
					<a href="https://www.instagram.com/frogdog_strategy/?hl=en" class="mini-mx colored-hover" target="_blank"><i class="fa fa-instagram"></i></a>
				</p>
				<p class="italic colored">Stay Updated</p>
				<p class="xs-mb notosans gray9"><a href="{{ siteUrl }}subscribe" target="_blank">Subscribe to our newsletter</a></p>
				<p class="italic colored">Write Us</p>
				<p class="xs-mb notosans gray9">5535 Memorial Drive, Suite F #804</br>Houston, Texas 77007</p>
			</div>
		</div>
	</div>
</section>

        


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d266bb7b94d4643"></script>
                            


{% endblock %}