{% extends "includes/base.html" %}

{# Set the `bodyClass` variable to the entry's section handle if there is one,
   or the first URI segment (this is used by the parent template) #}
{% if bodyClass is not defined %}
	{% set bodyClass = entry is defined ? entry.section.handle : craft.request.firstSegment %}
{% endif %}

{# Set the `title` variable to the nav item that matches the first segment #}
{% if nav[bodyClass] is defined %}
	{% set title %}{% if title is defined %}{{ title }} | {% endif %}{{ nav[bodyClass].title }}{% endset %}
{% endif %}

{% block body %}
{% include "structure/header.html" %}
						
            {% block main %}
            {% endblock %}

{% include "structure/footer.html" %}


	<!-- Go to top button -->
	<script type="text/javascript" src="{{ siteUrl }}assets/js/jquery.min.js"></script>

	<script type="text/javascript" src="{{ siteUrl }}assets/js/scripts.js"></script>
    
	
    </body>
</html>

{% endblock %}