{% extends "includes/site.html" %}
{% block main %}

{% set image = craft.assets.id(8958).one() %}
<section id="home" class="no-repeat bg-norepeat bg-right bg-bottom animated slow" data-animation="fadeInRight" data-animation-delay="200" data-background="{{ image.getUrl() }}">
    <div class="bodywidth lg-pt md-pt-mobile xxs-pb">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="home-title colored lh-sm text-lg">{{ entry.title }}</h1>
                    <ol vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumb notosans gray7 xs-mt">
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}">
					      <span property="name">Homepage</span></a>
					    <meta property="position" content="1">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}white-papers">
					      <span property="name">White Papers</span></a>
					    <meta property="position" content="2">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="gray4">
					    <a property="item" typeof="WebPage"
					        href="{{ entry.url}}">
					      <span property="name">{{ entry.title }}</span></a>
					    <meta property="position" content="3">
					  </li>
					</ol>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="bg-gray2">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8 py">
				{% for asset in entry.featuredImage %}
		        <img src="{{ asset.getUrl('featuredImage') }}" class="w-100 sm-mb">
		        {% endfor %}
			    
		
				{{ entry.textArea| replace('<p>', '<p class="gray8 notosans font-15 lh-md xs-mb" data-wow-duration="1s">')| replace('<a', '<a class="colored1 underline-hover"')| replace('<ul>', '<ul class="notosans t-left xs-mb list-style-disc" data-wow-duration="1s">') | replace('<li>', '<li class="gray8 font-15">') | replace('<h3>', '<h3 class="xs-mb bold">')  | raw }}
					<h4 class="bold xs-mb">To view this white paper, please fill out the form below:</h4>

				{% for asset in entry.whitePaperPdf %}
				{% set pdfUrl = entry.url ~ '/pdf' %}
				{{ craft.freeform.form("whitePapers", {
				    labelClass: "form-label",
				    inputClass: "classic_form  no-radius bg-gray",
				    instructionsBelowField: true,
				    submitClass: "xs-my no-radius bg-colored white",
				    returnUrl: pdfUrl,
				    overrideValues: {
				        whitePaper: entry.title,
				    }
				}).render() }}
				{% endfor %}
			</div>
		</div>
	</div>
</section>

        


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d266bb7b94d4643"></script>
                            


{% endblock %}