{% extends "includes/site.html" %}
{% block main %}

{% set entrySlug = craft.request.getSegment(2) %}
{% set entryGroup = craft.entries.section('whitePapers') %}


{% set entries = entryGroup.slug(entrySlug) %}


{% for entry in entries %}
{% set image = craft.assets.id(8958).one() %}
<section id="home" class="no-repeat bg-norepeat bg-right bg-bottom animated slow" data-animation="fadeInRight" data-animation-delay="200" data-background="{{ image.getUrl() }}">
    <div class="bodywidth lg-pt md-pt-mobile xxs-pb">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="home-title colored lh-sm text-lg">{{ entry.title }}</h1>
                    <ol vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumb notosans gray7 xs-mt">
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}">
					      <span property="name">Homepage</span></a>
					    <meta property="position" content="1">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}white-papers">
					      <span property="name">White Papers</span></a>
					    <meta property="position" content="2">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ entry.url}}">
					      <span property="name">{{ entry.title }}</span></a>
					    <meta property="position" content="3">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="gray4">
					    <a property="item" typeof="WebPage"
					        href="{{ entry.url}}pdf">
					      <span property="name">PDF</span></a>
					    <meta property="position" content="4">
					  </li>
					</ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray2">
	<div class="container">
		<div class="row">
			
			<div class="col-md-8 xs-py">
				{% for asset in entry.whitePaperPdf %}
				<div><a href="{{ asset.url }}" class="lg-btn bg-colored white uppercase qdr-hover-3 fa fa-download" download><span class="notosans bold">Download</span></a></div>
				
				<iframe src="{{ asset.url }}" width="" height="900px" border="0"></iframe>
				{% endfor %}
			</div>
			<div class="col-md-4 col-sm-12 xs-py br-1 solid border-gray">
                <ul class="list-group basic-list list-sm border-none-links solid border-gray no-pm">
	                <h4>All White Papers</h4>
	                {% for whitePaper in craft.entries.section('whitePapers') %}
                    <li><a href="{{ whitePaper.url }}/pdf" class="list-group-item no-radius click-effect notosans {% if whitePaper.url == entry.url %}bg-white {% else %}bg-gray2 {% endif %}">{{ whitePaper.title }}</a></li>
                   {% endfor %}
                </ul>
            </div>
		</div>
	</div>
</section>
{% endfor %}
        


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d266bb7b94d4643"></script>
                            


{% endblock %}