<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    {% for asset in company.logo %}
	<link rel="icon" type="image/png" href="{{ asset.url }}" />
    <link rel="apple-touch-icon" href="{{ asset.url }}"/>
    {% endfor %}
    
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/plugins.css" />
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/theme.css" />
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/skins/default.css" />
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/custom.css" />
    
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,600,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9fb57b410d.js"></script>

</head>
    
    

<body>

{% block body %}{% endblock %}

