{% extends "includes-blog/site.html" %}
{% block main %}


<section class="sm-mt">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-8">
		        {% for asset in entry.featuredImage.all() %}
		        <img src="{{ asset.getUrl('featuredImage') }}" class="w-100">
		        {% endfor %}
		        <ol vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumb notosans gray7 mini-mt">
				  <li property="itemListElement" typeof="ListItem" class="colored-hover">
				    <a property="item" typeof="WebPage"
				        href="{{ siteUrl }}magazine">
				      <span property="name">Magazine</span></a>
				    <meta property="position" content="1">
				  </li>
				  &nbsp;›&nbsp;
				  <li property="itemListElement" typeof="ListItem" class="gray4">
				    <a property="item" typeof="WebPage"
				        href="{{ entry.url}}">
				      <span property="name">{{ entry.title }}</span></a>
				    <meta property="position" content="2">
				  </li>
				</ol>
			</div>
		</div>
    </div>
</section>
<section class="container-xs t-center">
    <div class="gray6 notosans font-12 bold xs-mt uppercase">{% for category in entry.category.all() %}{% if loop.last %}{{ category.link }}{% else %} {{ category.link }} / {% endif %}{% endfor %}</div> 
    <h5 class=" italic light white">
       {{ entry.postDate| date("M d, Y")}} By:<span class="bold"> {{ entry.author }}</span>
    </h5>
    <!-- Title -->
    <h1 class="title colored text-lg text-mobile-xl lh-sm">
       {{ entry.title }}
    </h1>
    <!-- Subtitle -->
    <p class="font-16 italic xxs-mt xs-mx">
       {{ entry.introText }}
    </p>
    <div class="addthis_inline_share_toolbox xs-my"></div>
    <!-- End Centering div -->
       
</section>
<!-- END HOME -->

<section id="sticky">
	<div class="container">
		<div class="row">
			<aside class="col-md-3 col-12 hidden-xs hidden-sm">
                <div class="sticky-keeper">
                    <div class="sticky-container" data-top-spacing="50" data-fix-container="#container1">
	                    {% if entry.relatedServices| length %}
	                    {% for service in entry.relatedServices %}
                        <div class="px-20 py-25 bg-colored white slow bs-light-hover">
                            <h3 class="extrabold-subtitle  no-pm lh-sm">{{ service.title }}</h3>
                            <h5 class="italic"> Ready to grow your business?</h5>
                            <p class="no-pm notosans xxs-mt">
                                {{ service.introText }}
                            </p>
                            <a href="{{ service.url }}" class="lg-btn t-center block bs-lg-hover border-1 border-dashed border-gray3 white white-hover slow xxs-mt">Learn More</a>
                        </div>
                        {% endfor %}
                        {% else %}
                        {% set serviceEntry = craft.entries.id(4452).one() %}
                       <div class="px-20 py-25 bg-colored white slow bs-light-hover">
                            <h3 class="extrabold-subtitle no-pm lh-sm">Ready to grow your business?</h3>
                            <p class="no-pm notosans xxs-mt">
                                {{ serviceEntry.introText }}
                            </p>
                            <a href="{{ serviceEntry.url }}" class="lg-btn t-center block bs-lg-hover border-1 border-dashed border-gray3 white white-hover slow xxs-mt">View Services</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </aside>
			<div class="col-md-6" id="container1">
			    {% for block in entry.blogContent.all() %}
			    {% switch block.type %}
			    {% case "textArea" %}
			
			    
			    {{ block.textArea| replace('<p>', '<p class="gray8 notosans font-15 lh-md xs-mb">')| replace('<a', '<a class="colored underline-hover"')| replace('<ul>', '<ul class="notosans t-left xs-mb list-style-disc">') | replace('<li>', '<li class="gray8 font-15">') | replace('<h3>', '<h3 class="xs-mb bold">')  | raw }}
				{% case "heading" %}
				{% set value = block.headingSize %}
				<{{value}} class="xs-mb bold">{{ block.heading }}</{{value}}>
				{% case "image" %}
				{% for asset in block.image %}
				<img src="{{ asset.url }}" class="xs-my w-100">
				{% endfor %}
				{% case "quote" %}
				<blockquote class="blockquote">
				  <p class="mb-0">{{ block.quote }}</p>
				  <footer class="blockquote-footer">By <cite title="Source Title">{% if block.source|length %}<a href="{{ block.source }}">{{ block.author }}</a>{% else %}{{ block.author }}{% endif %}</cite></footer>
				</blockquote>
				
				{% endswitch %}
				{% endfor %}
				<div class="notosans font-13">
					Posted: <span class="bold">{{ entry.postDate| date("M d, Y")}}</span><br>
					Updated: <span class="bold">{{ entry.dateUpdated| date("M d, Y") }}</span>
				</div>
				 <div class="tags extrabold uppercase font-10 xs-my">
		            {% for tag in entry.tags %}
		            <a href="#">{{ tag.title }}</a>
		            {% endfor %}
		        </div>
			</div>
			<aside class="col-md-3 col-12">
                <div class="sticky-keeper">
                    <div class="sticky-container" data-top-spacing="50" data-fix-container="#container1">
                        <div class="px-20 py-25 border-1 border-dashed border-gray3 slow bs-light-hover">
                            <h3 class="extrabold-subtitle  gray9 no-pm lh-sm">Request a Consultation</h3>
                            <p class="no-pm notosans xxs-mt">
                                Request a free thirty-minute consultation with the team about your company's marketing needs.                             </p>
                            <a href="/request-a-consultation" class="lg-btn t-center block bs-lg-hover bg-colored white white-hover slow xxs-mt">Request a Consultation</a>
                        </div>
                    </div>
                </div>
            </aside>
			<div class="col-md-10 offset-md-1 sm-mt border-1 border-gray bg-colored white xs-py px xs-px-mobile mb no-mb-mobile">
				<div class="row">
					<div class="col-12 col-md-4 t-center">
						{% set image = craft.assets.id(8096).first() %}
						<img src="{{ image.getUrl() }}" {% if craft.request.isMobileBrowser() %}width="150px" {% else %}width="200px" {% endif %} class="xs-mb">
					</div>
					<div class="col-md-8 col-12">
						<div class="newsletter-form  xs-px no-px-mobile xs-py ">
				            <div class="text-center">
					           <h3 class="bold xs-mb"> Sign Up for Our Newsletter</h3>
				            </div>
				            <form accept-charset="utf-8" method="post" action="https://app.getresponse.com/add_subscriber.html">
				                <!-- input-group -->
				                <div class="input-group">
				                    <!-- E-mail input -->
				                    <input type="email" name="email" class="form-control no-radius classic_form" placeholder="Enter Your E-Mail Here">
				                    <input type="hidden" name="campaign_token" value="nxtnC" />

				                    <div class="input-group-append">
				                        <input class="xl-btn xxs-py click-effect qdr-hover-6 font-12 uppercase bold bg-white border-white border-1 colored " type="submit" value="Subscribe">
				                        </input>
				                    </div>
				                </div>
				                <!-- End input-group -->
				            </form>
				            <!-- Bottom note -->
				            <p class="font-13 gray1 xs-mt ls-0 semibold">We do not spam. And you can unsubscribe when you want.</p>
				        </div>
					</div>
				</div>
			</div>
				
					
		</div>
		
	</div>
</section>

{# Set parameters for prev/next elements list #}
{% set params = craft.entries.section('magazine').order('postDate asc') %}

{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}


<section id="about" class="boxes-with-image calculate-height clearfix bg-dark">
    <!-- Row for cols -->
    <div class="row no-mx">
		
        {% if prevEntry %}
        <a href="{{ prevEntry.url }}" class="box col-lg-6 col-6 qdr-hover-1-bottom click-effect" >
            <!-- Overlay - Parent element should have .relative class -->
            {% for asset in prevEntry.featuredImage %}
            <div class="overlay zi--4 bg-soft bg-soft-dark8" data-background="{{ asset.url }}"></div>
            {% endfor %}
            <!-- Texts -->
            <div class="texts">
                <p class="gray4 notosans bold uppercase font-10 md-pt">Previous Post</p>
                <h4 class="white">{{ prevEntry.title }}</h4>
                
            </div>
        </a>
        {% endif %}
        {% if nextEntry %}
        <a href="{{ nextEntry.url }}" class="box col-lg-6 col-6 qdr-hover-1-bottom click-effect t-right" >
            <!-- Overlay - Parent element should have .relative class -->
            {% for asset in nextEntry.featuredImage %}
            <div class="overlay zi--4 bg-soft bg-soft-dark8" data-background="{{ asset.url }}"></div>
            {% endfor %}
            <!-- Texts -->
            <div class="texts">
                <p class="gray4 notosans bold uppercase font-10  md-pt">Next Post</p>
                <h4 class="white">{{ nextEntry.title }}</h4>
            </div>
        </a>
        {% endif %}
    </div>
</section>

                          
{% endblock %}