{% extends "includes-blog/site.html" %}
{% block main %}
<!-- CONTENT -->
<section id="home" class="md-mt">
    <!-- Container for title and button -->
    <div class="container clearfix sm-pb">
        <div class="row">
            <div class="col-12">
               <div class="divider-1 divider-left container no-pl xs-mb">
	               <ol vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumb notosans gray7">
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}magazine">
					      <span property="name">Magazine</span></a>
					    <meta property="position" content="1">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="gray4">
					    <a property="item" typeof="WebPage"
					        href="{{ category.url}}">
					      <span property="name">{{category.title }}</span></a>
					    <meta property="position" content="2">
					  </li>
					</ol>
	                <span > <h1 class="home-title colored text-lg">{{ category.title }} </h1></span>
	            </div> 
	            <div class="tags extrabold uppercase no-radius font-10">
				    {% set subCategories = category.getDescendants %}
		            {% for subCategory in subCategories %}
		            {{ subCategory.link }}
		            {% endfor %}
		        </div>               
                               
            </div>
            
        </div>
        	
        
        <div class="divider-1"></div>
    </div>
    <!-- Container to details -->
</section>
<section id="blog" class="pb">
	<div class="container">
	    <!-- Row for cols -->
	    
	    
	    <div class="row">
		    {% for entry in craft.entries.section('magazine').relatedTo(category) %}
		    <div class="col-md-4 col-sm-6 col-xs-12">
			    <div class="gray6 notosans font-12 bold mini-mb uppercase">{% for category in entry.category %}{% if category.level == 2 %}{% if loop.last %}{{ category.link }}{% else %} {{ category.link }} / {% endif %}{% endif %}{% endfor %}</div> 
			    {% for asset in entry.featuredImage %}
			    <a href="{{ entry.url }}">
			    	<img src="{{ asset.getUrl('category') }}" class="xs-mb w-100">
			    </a>
			    {% endfor %}
			    <a href="{{ entry.url }}">
	                <h3 class="bold font-24 xxs-mb lh-sm colored-hover">
	                    {{ entry.title }}
	                </h3>
	            </a>
	            <p class="gray7 xxs-mb">
	                {{ entry.introText }}
		        </p>
	            <a href="{{ entry.url }}"><div class="font-12 colored italic xxs-mb bold">Continue Reading <span class="fa fa-long-arrow-right"></span></div> </a>
		    </div>
		    {% endfor %}
	    </div>
	    
	</div>
</section>
	                    
	         
{% endblock %}

