{% extends "includes-blog/site.html" %}
{% block main %}

<section> 
<div class="container-full xs-mt">

    <!-- Row for cols -->
    <div class="row">
	   
	   {% for entry in craft.entries.section(['magazine', 'whitePapers','videos']).limit(1) %}
        <div class="col-sm-6 col-xs-6 fullbrowserheight sticky-top zi-0 hidden-xs">
	        
	        {% for asset in entry.featuredImage %}
            <div class="fullwidth fullbrowserheight bg-cover bg-soft bg-soft-dark6 loaded" data-background="{{ asset.getUrl('square') }}"></div>
            {% endfor %}
            <div class="text-section">
	            <a href="{{ entry.url }}">
	                <h3 class="content-title bold xxs-my white colored-hover">
	                    {{ entry.title }}
	                </h3>
	            </a>
	            <p class="paragraph gray2">
	                {{ entry.introText }}
	            </p>    
	            <a href="{{ entry.url }}" class="italic colored underline-hover">Read Post<i class="fa fa-long-arrow-alt-right mini-ml"></i></a>
            </div>
        </div>
        {% endfor %}        
                
            

        <!-- Right Side -->
        <div class="col-md-6 bg-white sm-mt height-full o-scroll  height-auto-mobile clearfix ">

            <!-- Note -->
            <div class="right-content no-mt xs-px">
	            {% if craft.request.isMobileBrowser() %}
		            {% set query = craft.entries()
				    .section(['magazine', 'whitePapers','videos'])
				    .limit(20) 
				    %}
			    {% else %}
				{% set query = craft.entries()
			    .section(['magazine', 'whitePapers','videos'])
			    .limit(20) 
			    .offset(1)
			    %}
			    {% endif %}
				{% paginate query as pageInfo, pageEntries %}
				
				{% for entry in pageEntries %}
                {% if entry.section.handle == 'whitePapers' %}
			        <a href="{{ entry.url }}">
				        <div class="row xs-mt">
				            <div class="col-md-12">
					            <div class="gray6 notosans font-12 bold mini-mb uppercase colored-hover"><a href="{{ siteUrl }}white-papers">WHITE PAPER</a></div>  
				            </div>
				        </div>
				        <div class="row">
							<div class="col-md-4 qdr-hover-4">
								<a href="{{ entry.url }}">
						    	{% for asset in entry.featuredImage %}
								<img class="w-100" src="{{ asset.getUrl('square') }}" class="bs-hover">
								{% endfor %}
								</a>
							</div>
							<div class="col-md-8">
					            <!-- Title -->
					            <a href="{{ entry.url }}">
					                <h3 class="content-title lh-sm bold xxs-mb colored-hover">
					                    {{ entry.title }}
					                </h3>
					            </a>
					            <p class="gray9 xxs-mb">
					                {{ entry.introText }}
					            </p>    
					            <a href="{{ entry.url }}" class="italic colored underline-hover">View White Paper <i class="fa fa-long-arrow-alt-right mini-ml"></i></a>
							</div>
				        </div>
					</a>
				{% elseif entry.section.handle == 'videos' %}
			        <a href="{{ entry.url }}">
				        <div class="row xs-mt">
				            <div class="col-md-12">
					            <div class="gray6 notosans font-12 bold mini-mb uppercase colored-hover"><a href="{{ siteUrl }}videos">VIDEOS</a></div>  
				            </div>
				        </div>
				        <div class="row">
							<div class="col-md-4 qdr-hover-4">
								<a href="{{ entry.url }}">
								{% set image = craft.assets.id(9491).one() %}
								<img class="w-100" src="{{ image.getUrl('square') }}" class="bs-hover">
								</a>
							</div>
							<div class="col-md-8">
					            <!-- Title -->
					            <a href="{{ entry.url }}">
					                <h3 class="content-title lh-sm bold xxs-mb colored-hover">
					                    {{ entry.title }}
					                </h3>
					            </a>
					            <p class="gray9 xxs-mb">
					                {{ entry.introText }}
					            </p>    
					            <a href="{{ entry.url }}" class="italic colored underline-hover">Watch Video <i class="fa fa-long-arrow-alt-right mini-ml"></i></a>
							</div>
				        </div>
					</a>	
				{% else %}
					<a href="{{ entry.url }}">
				        <div class="row xs-mt">
				            <div class="col-md-12">
					            <div class="gray6 notosans font-12 bold mini-mb uppercase">{% for category in entry.category %}{% if loop.last %}<a href="{{ category.url }}" class="colored-hover">{{ category.title }}</a>{% else %} <a href="{{ category.url }}" class="colored-hover">{{ category.title }}</a> / {% endif %}{% endfor %}</div>  
				            </div>
				        </div>
				        <div class="row">
							<div class="col-md-4 qdr-hover-4">
								<a href="{{ entry.url }}">
						    	{% for asset in entry.featuredImage %}
								<img class="w-100" src="{{ asset.getUrl('square') }}" class="bs-hover">
								{% endfor %}
								</a>
							</div>
							<div class="col-md-8">
					            <!-- Title -->
					            <a href="{{ entry.url }}">
					                <h3 class="content-title lh-sm bold xxs-mb colored-hover">
					                    {{ entry.title }}
					                </h3>
					            </a>
					            <p class="gray9 xxs-mb">
					                {{ entry.introText }}
					            </p>    
					            <a href="{{ entry.url }}" class="italic colored underline-hover">Read Post <i class="fa fa-long-arrow-alt-right mini-ml"></i></a>
							</div>
				        </div>
					</a>
				{% endif %}	
				{% endfor %}
				<div class="t-center sm-pt">
		            <nav aria-label="Page navigation">
		                <ul class="pagination pagination-lg">
			                {% if pageInfo.nextUrl %}
		                    <li>
		                        <a href="{{ pageInfo.nextUrl }}#newsposts" aria-label="Next" class="bg-transparent gray9 bold bg-gray3-hover sm-px slow">
			                        <i class="fa fa-angle-double-left mini-ml"></i>
		                            Older Posts
		                            
		                        </a>
		                    </li>
		                    {% endif %}
			                {% if pageInfo.prevUrl %}
		                    <li class="active">
		                        <a href="{{ pageInfo.prevUrl }}#newsposts" aria-label="Previous" class="stay bg-gray3 bold gray6 sm-px">
		                            
		                            Newer Posts
		                            <i class="fa fa-angle-double-right mini-mr"></i>
		                        </a>
		                    </li>
		                    {% endif %}
		                    
		                </ul>
		            </nav>
		        </div>
            </div>    
        </div>
	</div>
</div>
</section>

   

	         
{% endblock %}

