{% extends "includes-blog/site.html" %}
{% block main %}

{% for category in craft.categories.group('magazineSection	').level(1) %}
<section id="home" class="{% if loop.first %}md-mt{% else %}{% endif %}">
    <!-- Container for title and button -->
    <div class="container clearfix">
        <div class="row">
            <div class="col-12">
               <div class="divider-1 divider-left container no-pl xs-mb">
	                <span > <h1 class="home-title colored text-lg">{{ category.link }}</h1><small class="notosans colored-hover"><a href="{{ category.url }}">Click to view all <strong>{{ category.title }}</strong> posts</a></small></span>
	            </div> 
	            {% if category.hasDescendants %}
	            <div class="tags extrabold uppercase no-radius font-10">
		            <span class="notosans">SUB-CATEGORIES: </span>
				    {% set subCategories = category.getDescendants %}
		            {% for subCategory in subCategories %}
		            {{ subCategory.link }}
		            {% endfor %}
		        </div> 
		        {% endif %}              
            </div>
        </div>
    </div>
    <!-- Container to details -->
</section>
<section id="blog" class="">
	<div class="container">
	    <div class="row">
		    <div class="custom-slider container block-img qdr-controls c-grab" data-slick='{"dots": false, "arrows": true, "fade": false, "draggable":true, "slidesToShow": 3, "slidesToScroll": 1}'>
			    {% for entry in craft.entries.section('magazine').relatedTo(category).limit(6) %}
			    <div class="gap-10">
				    <div>
				    <div class="gray6 notosans font-12 bold mini-mb uppercase">{% for category in entry.category %}{% if category.level == 2 %}{% if loop.last %}{{ category.link }}{% else %} {{ category.link }} / {% endif %}{% endif %}{% endfor %}</div> 
				    {% for asset in entry.featuredImage %}
				    <a href="{{ entry.url }}">
				    	<img src="{{ asset.getUrl('category') }}" class="xs-mb w-100">
				    </a>
				    {% endfor %}
				    <a href="{{ entry.url }}">
		                <h3 class="bold font-24 xxs-mb lh-sm colored-hover">
		                    {{ entry.title }}
		                </h3>
		            </a>
		            <p class="gray7 xxs-mb">
		                {{ entry.introText }}
			        </p>
		            <a href="{{ entry.url }}"><div class="font-12 colored italic xxs-mb bold">Continue Reading <span class="fa fa-long-arrow-right"></span></div> </a>
			    </div>
		    </div>
			{% endfor %}
    	</div>
	</div>
</section>
{% endfor %}	                    
	         
{% endblock %}

