{% extends "includes-blog/site.html" %}
{% block main %}
<!-- CONTENT -->
<section>
	<div class="bodywidth md-pt-mobile sm-pb">
        <!-- Container for title and button -->
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="home-title colored text-lg">{{ category.title }} </h1>
                    
                   
                    <h5 class="notosans uppercase bold gray6">CATEGORY DESCRIPTION</h5>
                </div>
            </div>
        </div>
        <!-- Container to details -->
    </div>
</section>
<section id="blog" class="py">
	<div class="container">
	    <!-- Row for cols -->
	    
	    <div class="row">
		    {% for entry in craft.entries.section('blog').relatedTo(category) %}
		    <div class="col-md-4">
			    <div class="gray6 notosans font-12 bold mini-mb uppercase">{% for category in entry.category %}{% if category.level == 2 %}{{ category.title }}{% endif %}{% endfor %}</div> 
			    {% for asset in entry.featuredImage %}
			    <a href="{{ entry.url }}">
			    	<img src="{{ asset.getUrl('category') }}" class="xs-mb w-100">
			    </a>
			    {% endfor %}
			    <a href="{{ entry.url }}">
	                <h3 class="bold font-24 xxs-mb lh-sm colored-hover">
	                    {{ entry.title }}
	                </h3>
	            </a>
	            <p class="gray7 xxs-mb">
	                {{ entry.introText }}
		        </p>
	            <div class="font-12 colored italic xxs-mb bold">Continue Reading <span class="fa fa-long-arrow-right"></span></div> 
		    </div>
		    {% endfor %}
	    </div>
	    
	</div>
</section>
	                    
	         
{% endblock %}

