{% extends "includes/site.html" %}
{% block main %}
{% set image = craft.assets.id(8958).one() %}
<section id="home" class="no-repeat bg-norepeat bg-bottomRight animated slow" data-animation="fadeInRight" data-animation-delay="200" data-background="{{ image.getUrl() }}">
    <div class="lg-pt md-pt-mobile xxs-pb">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="home-title colored text-lg">{{ entry.title }} </h1>
                    <ol vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumb notosans gray7 xs-mt">
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}">
					      <span property="name">Homepage</span></a>
					    <meta property="position" content="1">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="gray4">
					    <a property="item" typeof="WebPage"
					        href="{{ entry.url }}">
					      <span property="name">{{ entry.title }}</span></a>
					    <meta property="position" content="2">
					  </li>
					</ol>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bg-gray2 py sm-py-mobile">
	<div class="container-xs xxs-mx-mobile">
		<div class="row">
			{% for entry in craft.entries.section('news').limit(1) %}
		<!-- Subtitle -->
			<h5 class="italic light xs-mb">
		       {{ entry.postDate| date("M d, Y")}}
		    </h5>
			<h3 class="xs-mb bold">{{ entry.title }}</h3>
		    
	
			{{ entry.textArea| replace('<p>', '<p class="gray8 notosans font-15 lh-md xs-mb" data-wow-duration="1s">')| replace('<a', '<a class="colored underline-hover"')| replace('<ul>', '<ul class="notosans t-left xs-mb list-style-disc" data-wow-duration="1s">') | replace('<li>', '<li class="gray8 font-15">') | replace('<h3>', '<h3 class="xs-mb bold">')  | raw }}
			{% endfor %}
		</div>
	</div>		
</section>
<section id="newsposts" class="qdr-blog post-radius gray6 post-shadow lh-lg pb bg-gray2">
    <!-- Container for posts -->
    <div class="container">
	    <div id="posts" class="cbp">
{% set query = craft.entries()
    .section('news')
    .limit(9) 
    .offset(1)
    %}
    

{% paginate query as pageInfo, pageEntries %}

{% for entry in pageEntries %}       
	{% if entry.externalLink|length %} 
            <!-- Post -->
            <a href="{{ entry.externalLink }}" target="blank" class="cbp-item" {% if craft.request.isMobileBrowser %}{% else %}style="min-height: 226px"{% endif %}>
                <!-- Post Texts -->
                <div class="xs-px sm-py xs-px-mobile bg-white bs-sm" {% if craft.request.isMobileBrowser %}{% else %}style="min-height: 226px"{% endif %}>
                    <!-- Date -->
                    <p class="font-12">{{ entry.postDate| date("M d, Y")}}</p>
                    <!-- Title -->
                    <h4 class="bold-subtitle dark">{{ entry.title }}</h4>
                    <!-- Sender, Tag, comments -->
                </div>
                
            </a>
            {% else %}
            <!-- Post -->
            <a href="{{ entry.url }}" class="cbp-item" {% if craft.request.isMobileBrowser %}{% else %}style="min-height: 226px"{% endif %}>
                <!-- Post Texts -->
                <div class="xs-px sm-py xs-px-mobile bg-white bs-sm" {% if craft.request.isMobileBrowser %}{% else %}style="min-height: 226px"{% endif %}>
                    <!-- Date -->
                    <p class="font-12">{{ entry.postDate| date("M d, Y")}}</p>
                    <!-- Title -->
                    <h4 class="bold-subtitle dark">{{ entry.title }}</h4>
                    <!-- Sender, Tag, comments -->
                </div>
                
            </a>
            {% endif %}
        
        {% endfor %}
        </div>
        
        <div class="t-center sm-pt">
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-lg">
	                {% if pageInfo.nextUrl %}
                    <li>
                        <a href="{{ pageInfo.nextUrl }}#newsposts" aria-label="Next" class="bg-transparent gray9 bold bg-gray3-hover sm-px slow">
	                        <i class="fa fa-angle-double-left mini-ml"></i>
                            Older Posts
                            
                        </a>
                    </li>
                    {% endif %}
	                {% if pageInfo.prevUrl %}
                    <li class="active">
                        <a href="{{ pageInfo.prevUrl }}#newsposts" aria-label="Previous" class="stay bg-gray3 bold gray6 sm-px">
                            
                            Newer Posts
                            <i class="fa fa-angle-double-right mini-mr"></i>
                        </a>
                    </li>
                    {% endif %}
                    
                </ul>
            </nav>
        </div>

    </div>
</section>
     
{% js %}
(function($, window, document, undefined) {
    'use strict';

    // init cubeportfolio
    $('#posts').cubeportfolio({
        filters: '#tags',
        search: '#blog-search',
        gapHorizontal: 20,
        layoutMode: 'grid',
        gapVertical: 20,
        gridAdjustment: 'responsive',
        mediaQueries: [{
            width: 1050,
            cols: 3,
        }, {
            width: 950,
            cols: 3,
        }, {
            width: 850,
            cols: 2,
        }, {
            width: 770,
            cols: 2,
        }, {
            width: 640,
            cols: 2,
        }, {
            width: 480,
            cols: 1,
        }, {
            width: 320,
            cols: 1
        }],
        caption: 'none',
        animationType: 'quicksand',
        displayType: 'bottomToTop',
        displayTypeSpeed: 60,
    });
})(jQuery, window, document);
{% endjs %}	         
{% endblock %}

