{% extends "includes/site.html" %}
{% block main %}

{% set image = craft.assets.id(8958).one() %}
<section id="home" class="no-repeat bg-norepeat bg-bottomRight animated slow" data-animation="fadeInRight" data-animation-delay="200" data-background="{{ image.getUrl() }}">
    <div class="lg-pt md-pt-mobile xxs-pb">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="home-title colored text-lg">{{ entry.title }} </h1>
                    <ol vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumb notosans gray7 xs-mt">
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}">
					      <span property="name">Homepage</span></a>
					    <meta property="position" content="1">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="gray4">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}contact">
					      <span property="name">Contact</span></a>
					    <meta property="position" content="2">
					  </li>
					</ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray2">
	<div class="container py">
		<div class="row">
			<div class="col-md-4">
				
				<p class="italic colored">Call Us</p>
				<p class="xs-mb notosans gray9"><a href="tel:7138622505">713-862-2505</a></p>
				<p class="italic colored">Request a Consultation</p>
				<p class="xs-mb notosans gray9"><a href="{{ siteUrl }}request-a-consultation">Click Here</a></p>
				<p class="italic colored">Connect with Us</p>
				<p class="xs-mb notosans gray9">
					<a href="https://www.facebook.com/FrogDogStrategy/" class="mini-mx colored-hover" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://www.linkedin.com/company/frogdog/" class="mini-mx colored-hover" target="_blank"><i class="fa fa-linkedin"></i></a>
					<a href="https://twitter.com/frogdog" class="mini-mx colored-hover" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="https://www.youtube.com/user/FrogDogMarketing" class="mini-mx colored-hover" target="_blank"><i class="fa fa-youtube"></i></a>
					<a href="https://www.instagram.com/frogdog_strategy/?hl=en" class="mini-mx colored-hover" target="_blank"><i class="fa fa-instagram"></i></a>
				</p>
				<p class="italic colored">Stay Updated</p>
				<p class="xs-mb notosans gray9"><a href="{{ siteUrl }}subscribe">Subscribe to our newsletter</a></p>
				<p class="italic colored">Write Us</p>
				<p class="xs-mb notosans gray9">5535 Memorial Drive, Suite F #804</br>Houston, Texas 77007</p>
			</div>
			<div class="col-md-8">
				<h3 class="gray9 xxs-mb">FrogDog at your service. How can we help your company hit its targets?</h3>
				<p class="notosans xs-mb">Fill out the form below to ask us a question or send us a message.</p>
				{{ craft.freeform.form("contact", {
				    labelClass: "form-label",
				    inputClass: "classic_form  no-radius bg-gray",
				    instructionsBelowField: true,
				    submitClass: "xs-my no-radius bg-colored white",
				}).render() }}
			
			</div>
		</div>
	</div>
</section>

        


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d266bb7b94d4643"></script>
                            


{% endblock %}