{% extends "includes/site.html" %}
{% block main %}    
<section id="home" class="home">
	
	<div class="container-full">
	
		<div class="row xxs-mt-mobile">
		
		    <!-- Left Bg -->
		    <div class="col-lg-6 col-md-4 col-sm-4 col-12 hidden-xs hidden-sm">
			    {% for asset in entry.frogdogLogo.all() %}
		        <div class="no-repeat bg-norepeat bg-center height-full animated slow" data-animation="zoomIn" data-animation-delay="50" data-background="{{ asset.url }}">
			        	<div class="py no-py-mobile"></div>		            
		        </div>
		        {% endfor %}
		    </div>
		    <div class="col-12 hidden-md hidden-lg hidden-xl t-center no-py sm-pb md-pt">
			    {% for asset in entry.frogdogLogo.all() %}
			    <img src=" {{ asset.url }}" height="250px">
		        {% endfor %}
		    </div>
		
		    <!-- Right Side -->
		    <div class="right-side col-lg-6 col-md-8 col-sm-12 col-12 bg-gradient sm-pb-mobile sm-pt-mobile">
			    
				
		        <!-- First Load -->
		        <div class="height-full height-auto-mobile">
		            <div class="v-center v-normal-mobile clearfix">
		
		                <div class="titles px sm-px-mobile">
		                    
		                    <h1 class="text-lg3 lh-xs title white xs-mb">
		                        {{ entry.homepageContent.mainHeading|raw }}
		                    </h1>
		                    <h4 class="white bold">
		                        {{ entry.homepageContent.subHeading }}
		                    </h4>
		                    <a href="{{ siteUrl}}request-a-consultation" class="white bold xxs-mt lg-btn border-btn border-gray2 border-dashed qdr-hover-4 bs-hover slow">Request a Consultation</a>
		                </div>
		                
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</section>
<section class="bg-gray9 sm-py" >
    <div class="container">
	    <div class="row">
		    {% for entry in craft.entries.section('services').all() %}
			    <div class="col-md-4 bg-gray8-hover sm-py sm-px xs-px-mobile xs-py-mobile">
				    <a href="{{ entry.url }}">
				    <h4 class="uppercase colored1 notosans font-14 xxs-mb bold">{{ entry.title }}</h4>
				    <p class="white">{{ entry.introText }} </p>
				    <p class="colored1 italic xxs-mt">— Learn More </p>
				    </a>

			    </div>
		    {% endfor %}
	    </div>
    </div>
</section>	        
<section class="py xxs-px-mobile sm-py-mobile" >
    <div class="container">
	    <div class="row">
		    <div class="col-md-6">
			    <h1 class="xxs-mb text-lg1 lh-sm bold gray9">{{ entry.homepageContent.secondaryHeading }}</h1>
		    </div>
		    <div class="col-md-6">
			    <p class="lead  xs-mb-mobile gray9">{{ entry.homepageContent.textArea }}</p>
			    <a href="{{ siteUrl}}request-a-consultation" class=" xs-mt lg-btn border-btn border-gray6 border-dashed qdr-hover-4 bs-hover slow">Request a Consultation</a>
		    </div>
	    </div>
    </div>
</section>	 
{% for entry in craft.entries.section('work').limit(1).order('RAND()') %}
<section id="four" class="xl-py relative">
    <!-- Background image - you can choose parallax ratio and offset -->
    {% for asset in entry.featuredImage %}
    <div class="bg-parallax skrollr bg-soft bg-soft-dark7" data-anchor-target="#four" data-bottom-top="transform:translate3d(0, -190px, 0px);" data-top-bottom="transform:translate3d(0px, 50px, 0px);" data-background="{{ asset.url }}"></div>
    {% endfor %}
    <!-- End Video -->
    <!-- Container for link -->
    <div class="container t-center white">
        <a href="{{ entry.url }}"><p class="gray4 uppercase bold notosans">{{ entry.clientName }}</p></a>
        <a href="{{ entry.url }}"><h2 class="normal">{{ entry.title }}</h2></a>
        <a href="{{ entry.url }}" class="inline-block mini-mt colored italic">
            Read Case Study
        </a>
    </div>
</section> 
{% endfor %}      
<section class="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				{% set image = craft.assets.id(8915).one() %}
				<img src="{{ image.getUrl() }}" width="100%">
			</div>
			<div class="col-md-6">
				<div class="t-left">
					<h3 class="bold colored italic xxs-ml-mobile">What it's like to work with us</h3>
					<div class="container-sm c-grab gray8 t-left custom-slider qdr-controls-3 dark" data-slick='{"dots": false, "arrows": true, "draggable":true, "slidesToShow": 1, "slidesToScroll": 1}'>
			        {% for entry in craft.entries.section('testimonials') %}
				        <div>
				            <!-- Icon -->
				            <div class="m-auto">
					            </div>
					            <h6 class="xxs-mt font-18 no-ls notosans light">{{ entry.testimonial.quote }}</h6>
					            <p class="bold-subtitle italic no-pm xs-mt">{{ entry.testimonial.author }}</h4>
					            <h5 class="notosans font-12 uppercase">{{ entry.testimonial.positionCompany }}</h6>
					        </div>
					        <!-- Box -->
				        <div>
					    {% endfor %}
				    </div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="categories" class="clearfix">

    <!-- Portfolio Items -->
    <div id="category-items" class="cbp">

        {% for entry in craft.entries.section('magazine').limit(4) %}
        <div class="cbp-item">
            <!-- Your Url -->
            <a href="{{ entry.url }}" class="cbp-caption">
                {% for asset in entry.featuredImage %}
                <div class="cbp-caption-defaultWrap">
                    <img src="{{ asset.getUrl('square') }}" alt="{{ entry.title }}">
                </div>
                {% endfor %}
                <!-- Details -->
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <!-- Texts -->
                            <h2 class="slow title">{{ entry.title }}</h2>
                            <p class="slow notosans uppercase bold">Read Full Post</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
    <!-- End Portfolio Items -->
</section>
<!-- END PORTFOLIO SECTION -->        
{% js %}
$('#category-items').cubeportfolio({
    filters: '#category-filter',
    loadMore: '#category-load-more',
    loadMoreAction: 'click',
    layoutMode: 'grid',
    defaultFilter: '*',
    animationType: 'scaleSides',
    gapHorizontal: 0,
    gapVertical: 0,
    gridAdjustment: 'responsive',
    mediaQueries: [{
        width: 1500,
        cols: 4
    }, {
        width: 1200,
        cols: 4
    }, {
        width: 640,
        cols: 2
    }, {
        width: 480,
        cols: 2
    }],
    caption: 'zoom',
    displayType: 'fadeIn',
    displayTypeSpeed: 400
});

{% endjs %}
{% endblock %}