<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FrogDog</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <!--Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png"/>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/plugins.css"/>
    <!-- Main Styles -->
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/theme.css"/>
    <!-- Color Skins -->
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/skins/default.css"/>
    <!-- End Page Styles -->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,400i,700&display=swap" rel="stylesheet">
    <!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-K538TVV');</script>
	<!-- End Google Tag Manager -->

</head>

<!-- BODY START -->
<body class="no-selection">
    <!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K538TVV"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
    <div id="cookie-alert" class="cookie-alert bs-light slow t-center bg-gradient white">
        <h5><a href="{{ entry.formUrl }}">
            Schedule a Free Consultation
        </a>
        </h5>
    </div>  
    <!-- Home -->
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1154962&conversionId=1139593&fmt=gif" />
    <section id="home" class="bg-gradient3 o-hidden ">
	    <div class="container">
	        <div class="row xs-pt">
		        
			    <div class="col-md-3 col-sm-4 hidden-xs hidden-sm">
				    {% for asset in company.logo %}
	                <img src="{{ asset.url }}" data-second-logo="{{ asset.url }}" alt="FrogDog Logo" class="w-100">
	                {% endfor %}
			    </div>
			    <div class="col-sm-5 col-xs-5 offset-md-1 hidden-xl hidden-lg hidden-md">
				    {% for asset in company.logo %}
	                <img src="{{ asset.url }}" data-second-logo="{{ asset.url }}" alt="FrogDog Logo" class="w-50">
	                {% endfor %}
			    </div>
			    <div class="col-md-9 col-sm-7 hidden-xs hidden-sm  t-right">
				    <a href="{{ entry.formUrl }}" class="colored bold font-14 italic inline-block dark-hover qdr-hover-4 slow">
	                    <span class="gray4">————</span> &nbsp; Schedule a Consultation
	                </a>
			    </div>
			    <div class="col-md-9 col-sm-7 hidden-xl hidden-lg hidden-md t-right">
				    <a href="{{ entry.formUrl }}" class="colored bold font-14 italic inline-block dark-hover qdr-hover-4 slow">
	                    <span class="gray4">————</span> &nbsp; Schedule a Consultation
	                </a>
			    </div>
		    </div>
	    </div>
        <div class="bodywidth xl-pt md-pt-mobile sm-pb">
            
            <!-- Container for title and button -->
            <div class="container clearfix">
                <div class="row">
	                <div class="col-md-7">
	                    
	                </div>
                </div>
            </div>
            <!-- Container to details -->
        </div>
        
    </section>
    
    
    <section id="footer" class="py bg-gray9 bg-gray8-hover mt text-center">
	    <a href="{{ entry.formUrl }}">
	    <div class="container">
		    <div class="row">
			    <div class="col-md-12 white">
				    {% set image = craft.assets.id(87).first() %}
				    <img src="{{ image.getUrl() }}" width="300px" class="xs-mb">
			    	<h3 class"white">Sign up for a free consultation.</h3>
			    </div>
		    </div>
	    </div>
	    </a>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <!-- MAIN SCRIPTS - Classic scripts for all theme -->
    <script src="assets/js/scripts.js"></script>
    <!-- END JS FILES -->
	<script>
		$(window).scroll(function() { // when the page is scrolled run this
	    if($(this).scrollTop() != 0) { // if you're NOT at the top
	        $('#stickyCTA').fadeIn("fast"); // fade in
	    } else { // else
	        $('#stickyCTA').fadeOut("fast"); // fade out
	    }
		});
	</script>
</body>
<!-- Body End -->
</html>
