{% extends "includes/site.html" %}
{% block main %}    
{% set image = craft.assets.id(8958).one() %}
<section id="home" class="no-repeat bg-norepeat bg-right bg-bottom animated slow" data-animation="fadeInRight" data-animation-delay="200" data-background="{{ image.getUrl() }}">
    <div class="bodywidth lg-pt md-pt-mobile sm-pb">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="home-title colored text-lg">Sitemap</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sm-py bg-gray2" >
    <div class="container">
	    <div class="row">
		  {# Loop through all the sections #}
			
			<div class="col-md-12 xs-pb">
				<ul>
					{% for section in craft.sections.getAllSections() %}
					<li><h5 class="bold xxs-mt">{{ section.name }}</h5>
					    <ul class="notosans">
					      {# Loop through each of its entries #}
					      {% for entry in craft.entries.sectionId(section.id).limit(null) %}
					        <li>— <a href="{{ entry.url }}" class="colored-hover">{{ entry.title }}</a></li>
					      {% endfor %}
					    </ul>
					</li>
					{% endfor %}  
				</ul>
			</div>
			
	    </div>
    </div>
</section>
		    


{% endblock %}