<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FrogDog</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <!--Favicon -->
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png"/>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/plugins.css"/>
    <!-- Main Styles -->
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/theme.css"/>
    <!-- Color Skins -->
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/skins/default.css"/>
    <!-- End Page Styles -->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,400i,700&display=swap" rel="stylesheet">
    <!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-K538TVV');</script>
	<!-- End Google Tag Manager -->

</head>

<!-- BODY START -->
<body class="no-selection">
    <!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K538TVV"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
    <div id="cookie-alert" class="cookie-alert bs-light slow t-center bg-gradient white">
        <h5><a href="{{ entry.formUrl }}">
            Schedule a Free Consultation
        </a>
        </h5>
    </div>  
    <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=1154962&conversionId=1139593&fmt=gif" />
    <section id="home" class="bg-gradient3 o-hidden ">
	    <div class="container">
	        <div class="row xs-pt">
		        
			    <div class="col-md-3 col-sm-4 hidden-xs hidden-sm">
				    {% for asset in company.logo %}
	                <img src="{{ asset.url }}" data-second-logo="{{ asset.url }}" alt="FrogDog Logo" class="w-100">
	                {% endfor %}
			    </div>
			    <div class="col-sm-5 col-xs-5 offset-md-1 hidden-xl hidden-lg hidden-md">
				    {% for asset in company.logo %}
	                <img src="{{ asset.url }}" data-second-logo="{{ asset.url }}" alt="FrogDog Logo" class="w-50">
	                {% endfor %}
			    </div>
			    <div class="col-md-9 col-sm-7 hidden-xs hidden-sm  t-right">
				    <a href="{{ entry.formUrl }}" class="colored bold font-14 italic inline-block dark-hover qdr-hover-4 slow">
	                    <span class="gray4">————</span> &nbsp; Schedule a Consultation
	                </a>
			    </div>
			    <div class="col-md-9 col-sm-7 hidden-xl hidden-lg hidden-md t-right">
				    <a href="{{ entry.formUrl }}" class="colored bold font-14 italic inline-block dark-hover qdr-hover-4 slow">
	                    <span class="gray4">————</span> &nbsp; Schedule a Consultation
	                </a>
			    </div>
		    </div>
	    </div>
        <div class="bodywidth xl-pt md-pt-mobile sm-pb">
            
            <!-- Container for title and button -->
            <div class="container clearfix">
                <div class="row">
	                <div class="col-md-7">
	                    <h1 class="home-title colored text-lg">{{ entry.mainHeadline|raw }} </h1>
	                    {% for block in entry.subHeading %}
	                    <br>
	                    {% if block.type == "rotatingText" %}
	                    <h5 class="notosans uppercase bold gray6">{{ block.staticText }} 
	                    <span class="text-rotator gray9" data-animation="fadeIn">{% for row in block.rotatingText %}{{ row.col1 }},{% endfor %} </span></h5>
	                    {% elseif block.type == "staticHeading" %}
	                    <h5 class="notosans uppercase bold gray6">{{ block.heading }}</h5>
	                    {% endif %}
	                    {% endfor %}
	                </div>
                </div>
            </div>
            <!-- Container to details -->
        </div>
        
    </section>
    <section class="bg-gray9 py" >
	    <div class="container">
		    <div class="row">
			    {% for block in entry.features.type('feature') %}
			    {% if loop.length == 3 %}
			    <div class="col-md-4">
			    <h4 class="uppercase colored notosans font-14 xxs-mb bold">{{ block.heading }}</h4>
			    <p class="white  xs-mb-mobile">{{ block.textArea }}</p>
			    </div>
			    {% else %}
			    <div class="col-md-3">
			    <h4 class="uppercase colored notosans font-14 xxs-mb bold">{{ block.heading }}</h4>
			    <p class="white  xs-mb-mobile">{{ block.textArea }}</p>
			    </div>
			    {% endif %}
			    {% endfor %}
		    </div>
	    </div>
    </section>
    
    {% for block in entry.contentBlocks %}
	{% switch block.type %}
	{% case "textImageArea" %}
	{%  if loop.index is odd %}
	{% if craft.request.isMobileBrowser()
%}
	<section class="mt" id="features">
	    <div class="container">
		    <div class="row">
			    <div class="col-md-6">
				    {% for asset in block.featuredImage %}
				    <img src="{{ asset.url }}" width="100%">
				    {% endfor %}
			    </div>
			    <div class="col-md-6">
					{% if block.preHeading|length %}
					<h5 class="uppercase gray7 notosans bold">{{ block.preHeading }}</h5>
					{% endif %}
				    <h3 class="bold xxs-mb gray9">{{ block.heading }}</h3>
				    {% if block.textArea|length %}
				    <p class="paragraph gray7 notosans">{{ block.textArea }}</p>
				    {% endif %}
				    <table class="table table-noborder italic table-sm">
		                <tbody>
			                {% for row in block.lists %}
		                    <tr class="animated gray7" data-animation="fadeInUp" data-animation-delay="{{ loop.index*100 }}">
			                    {% if row.col1|length %}
		                        <td id="bullets">{{ row.col1 }}</td>
		                        {% endif %}
		                        {% if row.col2|length %}
		                        <td id="bullets">{{ row.col2 }}</td>
								{% endif %}
		                    </tr>
		                    {% endfor %}
		                </tbody>
				    </table>
				    <div><a {{ block.button.getLinkAttributes() }} class="lg-btn bg-gray9 white qdr-hover-4">{{ block.button.getText() }}</a></div>
			    </div>
			    
		    </div>
	    </div>
    </section>
	{% else %}
	<section class="mt" id="features">
	    <div class="container">
		    <div class="row">
			    <div class="col-md-6">
					{% if block.preHeading|length %}
					<h5 class="uppercase gray7 notosans bold">{{ block.preHeading }}</h5>
					{% endif %}
				    <h3 class="bold xxs-mb gray9">{{ block.heading }}</h3>
				    {% if block.textArea|length %}
				    <p class="paragraph gray7 notosans">{{ block.textArea }}</p>
				    {% endif %}
				    <table class="table table-noborder italic table-sm">
		                <tbody>
			                {% for row in block.lists %}
		                    <tr class="animated gray7" data-animation="fadeInUp" data-animation-delay="{{ loop.index*100 }}">
			                    {% if row.col1|length %}
		                        <td id="bullets">{{ row.col1 }}</td>
		                        {% endif %}
		                        {% if row.col2|length %}
		                        <td id="bullets">{{ row.col2 }}</td>
								{% endif %}
		                    </tr>
		                    {% endfor %}
		                </tbody>
				    </table>
				    <div><a {{ block.button.getLinkAttributes() }} class="lg-btn bg-gray9 white qdr-hover-4">{{ block.button.getText() }}</a></div>
			    </div>
			    <div class="col-md-6">
				    {% for asset in block.featuredImage %}
				    <img src="{{ asset.url }}" width="100%">
				    {% endfor %}
			    </div>
		    </div>
	    </div>
    </section>
    {% endif %} 
    {% else %} 
    <section class="mt">
	    <div class="container">
		    <div class="row">
			    <div class="col-md-6">
				    {% for asset in block.featuredImage %}
				    <img src="{{ asset.url }}" width="100%">
				    {% endfor %}
			    </div>
			    <div class="col-md-6">
					{% if block.preHeading|length %}
					<h5 class="uppercase gray7 notosans bold">{{ block.preHeading }}</h5>
					{% endif %}
				    <h3 class="bold xxs-mb gray9">{{ block.heading }}</h3>
				    {% if block.textArea|length %}
				    <p class="paragraph gray7 notosans">{{ block.textArea }}</p>
				    {% endif %}
				    <table class="table table-noborder italic table-sm">
		                <tbody>
			                {% for row in block.lists %}
		                    <tr class="animated gray7" data-animation="fadeInUp" data-animation-delay="{{ loop.index*100 }}">
			                    {% if row.col1|length %}
		                        <td id="bullets">{{ row.col1 }}</td>
		                        {% endif %}
		                        {% if row.col2|length %}
		                        <td id="bullets">{{ row.col2 }}</td>
								{% endif %}
		                    </tr>
		                    {% endfor %}
		                </tbody>
				    </table>
					<div><a {{ block.button.getLinkAttributes() }} class="lg-btn bg-gray9 white qdr-hover-4">{{ block.button.getText() }}</a></div>	    
			    </div>
		    </div>
	    </div>
    </section> 
    {% endif %}
    {% case "featuredTextArea" %}
    <section class="py bg-colored mt">
	    <div class="container">
		    <div class="row">
			    <div class="col-md-6">
				    <h3 class="white text-lg">{{ block.heading }}</h3></div>
			    <div class="col-md-6">
				    <ul class="white italic ">
				    {% for row in block.listItem %}
				    <li class="font-18 xs-mb">{{ row.col1 }}</li>
				    {% endfor %}
				    </ul>
			    </div>
		    </div>
	    </div>
    </section>
    {% case "awards" %}
    <section class="sm-py mt">

    	<ul class="client-list client-list-carousel custom-slider container qdr-controls-2" data-slick='{"arrows": true, "draggable": true, "autoplay": true, "slidesToShow": 4, "slidesToScroll": 1}'>
	    	{% for asset in block.awardImages%}
            <li><img src="{{ asset.getUrl('awards') }}" alt=""></li>
            {% endfor %}
        </ul>
    </section>
    {% case "caseStudies" %}
    <section class="py bg-gradient mt">
	    <div class="container">
		    <div class="row">
			    {% for caseStudy in block.linkedCaseStudy%}
			    <div class="col-md-3">
				    <a href="{{ caseStudy.caseStudyLink }}" target="_blank">
				    {% for asset in caseStudy.featuredImage %}
				    <img src="{{ asset.getUrl('square') }}" width="100%" class="qdr-hover-4 sm-mt-mobile">
				    {% endfor %}
				    <p class="white font-14 dark-hover notosans xxs-mt">{{ caseStudy.introText }}</p>
				    <p class="italic font-14 white dark-hover xxs-mt"> — Read Full Case Study</p>
				    </a>
				</div>
			    {% endfor %}
		    </div>
	    </div>
    </section>
    {% case "featuredCaseStudy" %}
     <!-- Container -->
    <div id="target-note" class="parallax-container md-py mt">
        <!-- Background image with horizontal parallax -->
        <a {{ block.caseStudyLink.getLinkAttributes() }}>
        <div class="bg-parallax horizontal-parallax skrollr bg-soft bg-soft-gradient t-center " style="width:120%; width:calc(100% + 250px);" data-anchor-target="#target-note" data-bottom-top="transform:translate3d(-250px, 0px, 0px);" data-top-bottom="transform:translate3d(0px, 0px, 0px);" {% for asset in block.featuredImage %}data-background="{{ asset.url }}" {% endfor %}></div>
        <div class="container">
            <h5 class="uppercase white t-center notosans bold">CASE STUDY</h5>

            <h3 class="white t-center light text-lg">
                {{ block.heading }}
            </h3>
            <!-- Description -->
            <div class="t-center xs-mt"><a {{ block.caseStudyLink.getLinkAttributes() }} class="italic bold t-center white qdr-hover-4">{{ block.caseStudyLink.getText() }}</a></div>           
        </div>
        </a>
    </div>
    <!-- End Container -->
    
    {% endswitch %}
    {% endfor %}
    <section id="footer" class="py bg-gray9 bg-gray8-hover mt text-center">
	    <a href="{{ entry.formUrl }}">
	    <div class="container">
		    <div class="row">
			    <div class="col-md-12 white">
				    {% set image = craft.assets.id(87).first() %}
				    <img src="{{ image.getUrl() }}" width="300px" class="xs-mb">
			    	<h3 class"white">Sign up for a free consultation.</h3>
			    </div>
		    </div>
	    </div>
	    </a>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <!-- MAIN SCRIPTS - Classic scripts for all theme -->
    <script src="assets/js/scripts.js"></script>
    <!-- END JS FILES -->
	<script>
		$(window).scroll(function() { // when the page is scrolled run this
	    if($(this).scrollTop() != 0) { // if you're NOT at the top
	        $('#stickyCTA').fadeIn("fast"); // fade in
	    } else { // else
	        $('#stickyCTA').fadeOut("fast"); // fade out
	    }
		});
	</script>
</body>
<!-- Body End -->
</html>
