{% extends "includes/site.html" %}
{% block main %}
<Style>
	.cbp-slider-controls {
    bottom: 0 !important;
    right: calc(50% - 25px) !important;
}
</style>
{% set image = craft.assets.id(8958).one() %}
<section id="home" class="no-repeat bg-norepeat bg-bottomRight animated slow" data-animation="fadeInRight" data-animation-delay="200" data-background="{{ image.getUrl() }}">
    <div class="lg-pt md-pt-mobile xxs-pb">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-11">
                    <h1 class="home-title colored lh-sm text-lg">{{ entry.title }} </h1>
                    <ol vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumb notosans gray7 xs-mt">
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}">
					      <span property="name">Homepage</span></a>
					    <meta property="position" content="1">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}work">
					      <span property="name">Work</span></a>
					    <meta property="position" content="2">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="gray4">
					    <a property="item" typeof="WebPage"
					        href="{{ entry.url}}">
					      <span property="name">{{ entry.title }}</span></a>
					    <meta property="position" content="3">
					  </li>
					</ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="fullwidth cover" class="py bg-soft bg-soft-dark7" {% for asset in entry.featuredImage %}data-background="{{ asset.url }}"{% endfor %}>
	<div class="container-sm">
	    <!-- Row -->
	    <div class="row t-center px xs-px-mobile">
		    <div class="col-md-4 col-sm-6 col-9 col-center">
			    {% for asset in entry.clientLogos.regularLogo.all() %}
			    <img src="{{ asset.url }}" class="w-100 xs-mb">
			    {% endfor %}
		    </div>
		    <p class="white font-24">{{ entry.caseStudy.introduction|raw}} </p>
	    </div>
	</div>
</section>

<section id="fullwidth" class="py sm-py-mobile bg-gray2">
	<div class="container-xs  ">
	    <!-- Row -->
	    <div class="row xs-px-mobile">
		    <h3 class="bold xxs-mb gray9">The Challenge</h3>
		    {{ entry.caseStudy.challenge| replace('<p>', '<p class="gray8 notosans font-15 lh-md xs-mb" data-wow-duration="1s">')| replace('<a', '<a class="colored1 underline-hover"')| replace('<ul>', '<ul class="notosans t-left  xs-mb list-style-disc" data-wow-duration="1s">') | replace('<li>', '<li class="gray8 font-15 xxs-mb">') | replace('<h3>', '<h3 class="xs-mb bold">') | raw }}
		</div>
	</div>
</section>		
<!-- Twin Contents -->
<section id="twins">
	<div class="container-full">
		<div class="row calculate-height height-auto-mobile">
			{% set images = craft.assets.id(8095) %}
			{% for image in images %}
			
			<div class="col-md-5 bg-cover bg-left bg-soft bg-soft-white2" data-background="{{ image.url }}">
				{% endfor %}
			</div>
			<div class="col-md-7 bg-gray8">
				<div class="details white m-auto px py xs-px-mobile sm-py-mobile">
	                
	                <!-- Subtitle -->
	                <h3 class="bold xs-mb">
	                    FrogDog Solution
	                </h3>
	                <!-- Description -->
	                {{ entry.caseStudy.frogdogSolution| replace('<p>', '<p class="gray2 notosans font-15 lh-md xs-mb" data-wow-duration="1s">')| replace('<a', '<a class="colored1 underline-hover"')| replace('<ul>', '<ul class="notosans t-left  xs-mb list-style-disc" data-wow-duration="1s">') | replace('<li>', '<li class="gray2 font-15 xxs-mb">') | replace('<h3>', '<h3 class="xs-mb bold">') | raw }}
	            </div>
			</div>
			
		</div>
	</div>
</section>

<section id="fullwidth" class="pt sm-pb sm-py-mobile bg-gray2">
	<div class="container-xs">
	    <!-- Row -->
	    <div class="row xs-px-mobile ">
		    <h3 class="bold xxs-mb gray9">The Results</h3>
		    {{ entry.caseStudy.results| replace('<p>', '<p class="gray8 notosans font-15 lh-md xs-mb" data-wow-duration="1s">')| replace('<a', '<a class="colored1 underline-hover"')| replace('<ul>', '<ul class="notosans t-left xs-mb list-style-disc" data-wow-duration="1s">') | replace('<li>', '<li class="gray8 font-15 xxs-mb">') | replace('<h3>', '<h3 class="xs-mb bold">') | raw }}
		</div>
	</div>
</section>

<!--
<section class="bg-gray2 pb">
	<div class="container-sm">
		{% for block in entry.caseStudy.portfolio.type('portfolioItem') %}
		<div class="row xs-pb no-gutters">
			<div class="col-md-5">
				<div class="custom-slider container-sm qdr-controls-2 c-grab block-img lightbox_gallery" data-slick='{"dots": true, "adaptiveHeight": true, "arrows": true, "fade": false, "draggable":true, "slidesToShow": 1, "slidesToScroll": 1, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 1}}]}'>
					{% for asset in block.portfolioImage %}
                    <div>
                        <a href="{{ asset.getUrl('') }}" class="block-img">
                            <img src="{{ asset.getUrl('portfolio') }}" alt="">
                            <div class="img-overlay"><div class="overlay-wrap"><i class="fa fa-expand font-20"></i></div></div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
			</div>
			<div class="col-md-7 bg-gray8 white sm-px sm-py">
 				<p class="font-10 notosans white bold uppercase">Portfolio</p>
				<h4 class="t-left colored1 bold xxs-mb">{{ block.imageTitle }}</h4>
                <p class="t-left notosans font-15">{{ block.imageDescription }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
-->
    
<section id="works" class="pb no-pb-mobile bg-gray2 t-left styled-portfolio parallax">
	<div class="container-sm">
		{% if entry.caseStudy.portfolio.type('portfolioItem') | length %}
		<p class="t-center italic xs-mb">Click on the image to view full image and to scroll through the portfolios</p>
		<div class="row">
		{% for block in entry.caseStudy.portfolio.type('portfolioItem') %}
		<div class="col-md-4  mb">
		<div id="portfolio-items{{loop.index}}" class="cbp lightbox_gallery"> 
			        			    	    
			<div class="cbp-item">
				{% set media = block.portfolioImage%}
				{% if media.count > 1 %}
				<div class="cbp-slider-inline">
	                <div class="cbp-slider-wrapper">
		                {% for asset in block.portfolioImage %}
	                    <div class="cbp-slider-item {% if loop.first %}cbp-slider-item--active {% endif %}">
	                        <a href="{{ asset.getUrl('') }}" class="" data-title="{{ block.imageTitle }}<br>{{ block.imageDescription }}">
	                            <img src="{{ asset.getUrl('square') }}" alt="{{ block.imageTitle }} // {{ block.imageDescription }}">
	                            <div class="cbp-caption-activeWrap"></div>
	                        </a>
	                    </div>
	                    {% endfor %}
	                </div>
	                <div class="cbp-slider-controls">
	                    <div class="cbp-slider-prev"></div>
	                    <div class="cbp-slider-next"></div>
	                </div>
	            </div>
	            {% else %}
	            <div class="cbp-caption">
                    <!-- IMG -->
                    {% for asset in block.portfolioImage %}
                    <a href="{{ asset.getUrl('') }}" class="" data-title="{{ block.imageTitle }}">
                        <img src="{{ asset.getUrl('square') }}" alt="{{ block.imageTitle }}">
                        <div class="cbp-caption-activeWrap"></div>
                    </a>
                    {% endfor %}
                </div>
	            {% endif %}
	            
	        </div>
	        
		</div>
		<h4 class="bold xs-mt gray9">{{ block.imageTitle }}</h4>
		<p class="notosans gray9 mini-mt">{{ block.imageDescription }}</p>
		</div>
		{% endfor %}
		{% endif %}
		
		<div class="row bg-colored sm-py sm-px">
			<div class="col-md-6">
				{% set image = craft.assets.id(8823).first() %}
				<img src="{{ image.getUrl() }}" class="xs-mb w-100 ">
			</div>
			<div class="col-md-6">
	            <div class="text-center">
		           <h3 class="bold white xs-mt xxs-mb">Does your business need a new marketing strategy?</h3>
		           <p class="font-16 notosans white">We would love to learn about your business. Contact us to request a consultation. </p>
		           <div><a href="{{ siteUrl }}request-a-consultation" class="xs-mt lg-btn bg-white gray9 uppercase notosans bold qdr-hover-4">Request a Consultation</a></div>
	            </div>
		            
			</div>
		</div> 
	</div>
</section>
            
           	   

{# Set parameters for prev/next elements list #}
{% set params = craft.entries.section('work').order('postDate asc') %}

{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}


<section id="about" class="boxes-with-image calculate-height bg-dark">
    <!-- Row for cols -->
    <div class="row no-mx">
		
        {% if prevEntry %}
        <a href="{{ prevEntry.url }}" class="box col-lg-6 col-6 qdr-hover-1-bottom click-effect" >
            <!-- Overlay - Parent element should have .relative class -->
            {% for asset in prevEntry.featuredImage %}
            <div class="overlay zi--4 bg-soft bg-soft-dark8" data-background="{{ asset.url }}"></div>
            {% endfor %}
            <!-- Texts -->
            <div class="v-middle texts">
                <p class="gray4 notosans bold uppercase font-10 md-pt">Previous Case Study</p>
                <h4 class="white">{{ prevEntry.title }}</h4>
                
            </div>
        </a>
        {% endif %}
        {% if nextEntry %}
        <a href="{{ nextEntry.url }}" class="box col-lg-6 col-6 qdr-hover-1-bottom click-effect t-right" >
            <!-- Overlay - Parent element should have .relative class -->
            {% for asset in nextEntry.featuredImage %}
            <div class="overlay zi--4 bg-soft bg-soft-dark8" data-background="{{ asset.url }}"></div>
            {% endfor %}
            <!-- Texts -->
            <div class="texts">
                <p class="gray4 notosans bold uppercase font-10  md-pt">Next Case Study</p>
                <h4 class="white">{{ nextEntry.title }}</h4>
            </div>
        </a>
        {% endif %}
    </div>
</section>

{% js %}
$('#gallery-items').cubeportfolio({
    filters: '#gallery-filter1, #gallery-filter2',
    loadMore: '#js-loadMore-masonry-projects',
    loadMoreAction: 'click',
    layoutMode: 'grid',
    defaultFilter: '*',
    animationType: 'quicksand',
    gapHorizontal: 20,
    gapVertical: 20,
    gridAdjustment: 'responsive',
    mediaQueries: [{
        width: 1500,
        cols: 3,
    }, {
        width: 1100,
        cols: 3,
    }, {
        width: 800,
        cols: 3
    }, {
        width: 480,
        cols: 2,
        options: {
            caption: '',
            gapHorizontal: 25,
            gapVertical: 10,
        }
    }],
    caption: 'zoom',
    displayType: 'fadeIn',
    displayTypeSpeed: 100,

    // lightbox
    lightboxDelegate: '.cbp-lightbox',
    lightboxGallery: true,
    lightboxTitleSrc: 'data-title',
    lightboxCounter: '<div class="cbp-popup-lightbox-counter"></div>',
    showThumbByDefault: false,

    // singlePage popup
    singlePageDelegate: '.cbp-singlePage',
    singlePageDeeplinking: true,
    singlePageStickyNavigation: true,
    singlePageCounter: '<div class="cbp-popup-singlePage-counter"></div>',
    singlePageCallback: function(url, element) {
        // to update singlePage content use the following method: this.updateSinglePage(yourContent)
        var t = this;

        $.ajax({
                url: url,
                type: 'GET',
                dataType: 'html',
                timeout: 30000
            })
            .done(function(result) {
                t.updateSinglePage(result);
            })
            .fail(function() {
                t.updateSinglePage('AJAX Error! Please refresh the page!');
            });
    },
});
{% endjs %}
{% js %}
{% for block in entry.caseStudy.portfolio.type('portfolioItem') %}
$('#portfolio-items{{loop.index}}').cubeportfolio({
            filters: '#filter',
            layoutMode: 'grid',
            mediaQueries: [{
                width: 1500,
                cols: 3,
            }, {
                width: 900,
                cols: 3,
            }, {
                width: 640,
                cols: 2,
            }, {
                width: 480,
                cols: 1,
                options: {
                    caption: '',
                }
            }],
            defaultFilter: '*',
            animationType: 'scaleDown',
            gapHorizontal: 10,
            gapVertical: 10,
            gridAdjustment: 'responsive',
            caption: 'fadeIn',
            displayType: 'sequentially',
            displayTypeSpeed: 50,

        });
        {% endfor %}
{% endjs %}
{% endblock %}