{% extends "includes/site.html" %}
{% block main %}

{% set image = craft.assets.id(8958).one() %}
<section id="home" class="no-repeat bg-norepeat bg-bottomRight animated slow" data-animation="fadeInRight" data-animation-delay="200" data-background="{{ image.getUrl() }}">
    <div class="bodywidth xl-pt md-pt-mobile xxs-pb">
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="home-title colored text-lg">{{ entry.title }} </h1>
                    <h5 class="notosans uppercase bold gray6">{{ entry.introText }}</h5>
                    <ol vocab="https://schema.org/" typeof="BreadcrumbList" class="breadcrumb notosans gray7 xs-mt">
					  <li property="itemListElement" typeof="ListItem" class="colored-hover">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}">
					      <span property="name">Homepage</span></a>
					    <meta property="position" content="1">
					  </li>
					  &nbsp;›&nbsp;
					  <li property="itemListElement" typeof="ListItem" class="gray4">
					    <a property="item" typeof="WebPage"
					        href="{{ siteUrl }}work">
					      <span property="name">Work</span></a>
					    <meta property="position" content="2">
					  </li>
					</ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="blog" class="clearfix qdr-blog post-radius bg-gray2 gray6 lh-lg post-shadow post-shadow-sm">
	<div class="container">
		<div class="row">
        <!-- Row -->
            <div class="col-12 py xxs-px-mobile">
		            
       	        <!-- Blog Posts -->
                <div id="posts" class="cbp">

		            {% for entry in craft.entries.section('work') %}
		            <a href="{{ entry.url}}" class="cbp-item">
		                <!-- Mark -->
		                <div class="row calculate-height height-auto-mobile">
		                    <!-- Image -->
		                    <div class="col-sm-5 col-xs-12 no-pm block-img bg-gray9 bg-colored-hover">
			                    
							{% for image in entry.clientLogos.squareLogo%}
		                        <img src="{{ image.getUrl('') }}" alt="" style="width: 90%; float: right;">
		                        {% endfor %}
		                    </div>
		                    <!-- Post Texts -->
		                    <div class="col-sm-7 col-xs-12 sm-py xs-px xs-px-mobile bg-white bg-gray1-hover border-1 border-gray1 table-im">
		                        <div class="v-middle">
		                            <!-- Date -->
		                            <p class="font-10 notosans gray8 bold uppercase">{{ entry.clientName }}</p>
		                            <!-- Title -->
		                            <h4 class="font-18 bold-subtitle colored lh-sm">{{ entry.title }}</h4>
		                            
		                        </div>
		                    </div>
		                </div>
		            </a>
		            {% endfor %}
		            <!-- End Post -->
                </div>
            </div>
		</div>
	</div>
</section>
 
 
{% js %}
(function($, window, document, undefined) {
    'use strict';

    // init cubeportfolio
    $('#posts').cubeportfolio({
        
        gapHorizontal: 40,
        layoutMode: 'grid',
        gapVertical: 20,
        gridAdjustment: 'responsive',
        mediaQueries: [{
            width: 1050,
            cols: 2,
        }, {
            width: 950,
            cols: 2,
        }, {
            width: 850,
            cols: 2,
        }, {
            width: 770,
            cols: 2,
        }, {
            width: 640,
            cols: 2,
        }, {
            width: 480,
            cols: 2,
        }, {
            width: 320,
            cols: 2,
        }],
        caption: 'none',
        animationType: 'quicksand',
        displayType: 'bottomToTop',
        displayTypeSpeed: 60,
    });
})(jQuery, window, document);
{% endjs %} 
	         
{% endblock %}

